<h1>联系我们</h1>
<div id="formHeaderWrapper" class="formHeaderWrapper row group">
	<div id="formHeaderText" class="forHeaderChild">
		<p>
			感谢您访问我们的 {{brand_name}} 网站。我们非常希望倾听您的意见。请您抽出一点儿时间提供以下信息。如需进一步协助，您也可于太平洋标准时间周一至周五上午 8 点到下午 5 点和太平洋标准时间周六上午 9 点到下午 3 点致电        与我们联系
		</p>
	</div>
	<div id="formHeaderWinefinder" class="forHeaderChild desktop">找不到喜欢的饮食？请查看我们的 <a href="{{winefinder}}">Wine Finder</a>.</div>
	<div id="formHeaderPrivacypolicy" class="forHeaderChild desktop"><a href="{{privacy_policy}}" target="_window">阅读更多内容，了解我们将如何使用您的信息</a>.</div>
</div>
<form name="contactUsIntlForm-EN" id="contactUsForm" class="form desktop">
	<input type="hidden" name="brand_code" value="{{brand_code}}" />
	<input type="hidden" name="form_lang" value="CN" />
	<input type="hidden" name="verify" value="0" />
	<input type="hidden" name="successTxt" value="Contact Us was successfully submitted" />
	<input type="hidden" name="thankyouTxt" value="Thank You!" />
	<input type="hidden" name="closeTxt" value="Click anywhere to close." />

	<div class="aboutMeWrapper contactusField" style="display: none;">
		<!-- TODO: Add honey pot algorithm logic -->
		<input class="textField" id="" name="">
		<input class="textField" id="" name="">
		<input class="textField" value="good" id="" name="">
	</div>

	<div id="reasonCodeWrapper" class="row group">
		<label id="reasonCodeLabel" class="contactusField label" for="reasonCode">您的消息的性质是什么?:<span class="required">*</span></label>
		<div id="reasonCodeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt reasonCodeTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="reasonCode" class="contactusField fieldInput fieldSelect" name="nature" alt="请选择一项" data-parsley-required="true" data-parsley-required-message="消息性质为必填项." data-parsley-trigger="change">
				<option value="">请选择一项</option>
				<option value="Praise-Comment-Inquiry">产品赞扬、评论和询问</option>
				<option value="Complaint">投诉</option>
				<option value="Rebate Status">查看回扣状态</option>
				<option value="Case Follow Up">跟踪当前状态</option>
			</select>
		</div>
	</div>
	<div id="rebateStatusWrapper" class="reasconCodeCheck row group rebatestatus">
		<p>如需查询您提交的回扣状态，请致电 888-259-6135 或登录  <a href="http://mir.rebateresearch.com" rel="external">http://mir.rebateresearch.com</a>.</p>
		<p>如果您忘记您的“查看状态”信息，请致电 888-259-6135 或 <a href="" id="showRebateFormLink">单击此处</a> 向我们提供您回扣的详情.</p>
	</div>
	<div id="followUpCaseWrapper" class="reasconCodeCheck row casefollowup group">
		<p>如果这是对既有联络的跟进，请提供我们的客户关系团队告知您的个案编号.</p>
		<div>
			<label id="followUpCaseLabel" class="contactusField label" for="followUpCase">Case ID#:<span class="required">*</span></label>
			<input id="followUpCase" class="contactusField fieldInput" type="text" name="case_id" value="" data-parsley-required="true" data-parsley-required-message="个案编号为必填项." data-parsley-required="true" data-parsley-type="alphanum" data-parsley-trigger="keyup">
		</div>
	</div>

	<div id="contactInfoText" class="contactusField reasconCodeCheck row general complaint"><strong>联系信息</strong></div>

	<div id="firstNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="firstNameLabel" class="contactusField label" for="firstName">名:<span class="required">*</span></label>
		<input id="firstName" class="contactusField fieldInput" name="first_name" type="text" data-parsley-maxlength="25" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-required-message="名字为必填项。" data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="lastNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="lastNameLabel" class="contactusField label" for="lastName">姓:<span class="required">*</span></label>
		<input id="lastName" class="contactusField fieldInput" name="last_name" type="text" data-parsley-trigger="keyup" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-maxlength="25" data-parsley-required-message="姓氏为必填项" data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="genderWrapper" class="reasconCodeCheck row group general complaint">
		<label id="genderLabel" class="contactusField label" for="gender">性别:<span class="required">*</span></label>
		<div id="genderDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt genderTxt group"><span class="selectedTxt">性别</span><span class="arrowDown"></span></div>
			<select id="gender" class="contactusField fieldInput fieldSelect" name="gender" data-parsley-required="true" data-parsley-required-message="性别为必填项." data-parsley-trigger="change">
				<option value="">性别</option>
				<option value="M">男</option>
				<option value="F">女</option>
				<option value="UNK">拒绝透露</option>
			</select>
		</div>
	</div>
	<div id="dobWrapper" class="reasconCodeCheck row group general complaint">
		<input type="hidden" name="dob" value="" />
		<label id="dobLabel" class="contactusField label" for="dobMonth">出生日期:<span class="required">**</span></label>
		<div id="dobDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt dobTxt group"><span class="selectedTxt">月份(1 月 – 12 月)</span><span class="arrowDown"></span></div>
			<select id="dobMonth" class="contactusField fieldInput fieldSelect" alt="请选择一项" data-parsley-required="true" data-parsley-required-message="月份为必填项。" data-parsley-trigger="change">
				<option value="" selected>月份(1 月 – 12 月)</option>
				<option value="01">一月</option>
				<option value="02">二月</option>
				<option value="03">三月</option>
				<option value="04">四月</option>
				<option value="05">五月</option>
				<option value="06">六月</option>
				<option value="07">七月</option>
				<option value="08">八月</option>
				<option value="09">九月</option>
				<option value="10">十月</option>
				<option value="11">十一月</option>
				<option value="12">十二月</option>
			</select>
		</div>
		<input id="dobDay" class="contactusField fieldInput" type="text" data-parsley-length="[1, 2]" placeholder="日期" data-parsley-pattern="/^(?:([1-9]|[12][0-9]|3[01]))$/" data-parsley-required-message="Day is required." data-parsley-trigger="keyup" data-parsley-required="true" />
		<input id="dobYear" class="contactusField fieldInput" type="text" placeholder="年份" data-parsley-required-message="Year is required." data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="emailWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="emailLabel" class="contactusField label" for="email">电子邮箱*:<span class="required">*</span></label>
		<input id="email" class="contactusField fieldInput" name="email" type="email" data-parsley-trigger="change" data-parsley-type="email" data-parsley-required-message="电子邮件地址为必填项." data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="countryWrapper" class="reasconCodeCheck row group general complaint">
		<label id="countryLabel" class="contactusField label" for="country">国家:<span class="required">*</span></label>
		<div id="countryDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt countryTxt group"><span class="selectedTxt">China</span><span class="arrowDown"></span></div>
			<select id="country" class="contactusField fieldInput fieldSelect" name="country" data-parsley-required="true" data-parsley-required-message="Country is required." data-parsley-trigger="change">
				<option value="CHN" selected="selected">China</option>
			</select>
		</div>
	</div>
	<div id="addressWrapper" class="reasconCodeCheck row group general complaint">
		<label id="addressLabel" class="contactusField label" for="address">地址:</label>
		<input id="address" type="text" class="contactusField fieldInput" name="address" />
	</div>
	<div id="cityWrapper" class="reasconCodeCheck row group general complaint">
		<label id="cityLabel" class="contactusField label" for="city">城市:</label>
		<input id="city" type="text" class="contactusField fieldInput" name="city" />
	</div>
	<div id="zipWrapper" class="reasconCodeCheck row group general complaint">
		<label id="zipLabel" class="contactusField label" for="zip">邮政编码:<span class="required">*</span></label>
		<input id="zip" class="contactusField fieldInput" name="zip" type="text" data-parsleyLength="[5, 20]" data-parsley-required-message="邮编为必填项。" data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="phoneWrapper" class="reasconCodeCheck row group general complaint casefollowup" >
		<label id="phoneLabel" class="contactusField label" for="phone">电话:<span class="required reasconCodeCheck casefollowup complaint">*</span></label>
		<input id="phone" class="contactusField fieldInput" name="phone" type="text" />
		<div id="phoneTypeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt phoneTypeTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="phoneType" name="phone_type" class="fieldInput fieldSelect" >
				<option value="">请选择一项</option>
				<option value="Cell">手机</option>
				<option value="Home">住宅</option>
				<option value="Work">工作</option>
			</select>
		</div>
	</div>
	<div id="prefContactMethod" class="reasconCodeCheck row group general complaint casefollowup">
		<div id="prefContactMethodLabelWrapper"><label id="contactMethodLabel" class="contactusField label" for="phone_method">首选联系方式:</label></div>
		<div id="prefContactMethodWrapper">
			<input id="prefContactEmail" class="contactusField radioField" type="radio" name="phone_method" value="Email" /><label class="radioInlineLabel contactusField label" for="prefContactEmail">电子邮件</label>
			<input id="prefContactPhone" class="contactusField radioField" type="radio" name="phone_method" value="Phone Number" /><label class="radioInlineLabel contactusField label" for="prefContactPhone">电话</label>
			<input id="prefContactMail" class="contactusField radioField" type="radio" name="phone_method" value="Mail" /><label class="radioInlineLabel contactusField label" for="prefContactMail">邮件</label>
		</div>
	</div>
	<div id="productHeaderWrapper" class="reasconCodeCheck row group general complaint">
		<strong>产品问题</strong>
		<p>产品问题 – 请回答以下问题，以便我们为您提供更好的服务:</p>
	</div>
	<div id="upcWrapper" class="row group reasconCodeCheck general complaint">
		<label id="upcLabel" class="contactusField label" for="upc">请输入 10 位数 UPC 号码:</label>
		<input id="upc"  class="contactusField fieldInput" type="text" name="upc" maxlength="10" value="">
		<a href="#" id="showUPCExample">查看详情</a>
		<div id="upcDetailWrapper">
			<img src="/BrandSDK-v1.1/images/contactus/barcode.gif" align="Sku #" id="sku" width="168">
			<div id="upcMessageWrapper" class="boxOut" >
				<p>UPC 号码位于标签上的条形码下方。示例展示了红框内的 10 位数 UPC 号码</p>
			</div>
		</div>
	</div>
	<div id="bottleProductCodeWrapper" class="row group reasconCodeCheck complaint">
		<label id="bottleProductCodeLabel" class="contactusField label" for="bottleProductCode">请输入装瓶日期编码:</label>
		<input  id="bottleProductCode" class="contactusField fieldInput" type="text" name="product_code" value="">
		<div><a href="/BrandSDK-v1.1/images/contactus/bottleProductCodeExample.png" id="bottleProductCodeExample" target="_blank">See Example</a></div>
	</div>
	<div id="purchaseDateWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseDateLabel" class="contactusField label" for="purchaseDate">您是否记得您何时购买的本产品?</label>
		<input id="purchaseDate" class="contactusField fieldInput" name="purchase_date" type="text" placeholder="MM-DD-YYYY" data-parsley-pattern="/^(?:(0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])[-](19|20)[0-9]{2})$/" data-parsley-trigger="keyup" />
	</div>
	<div id="purchasePlace" class="reasconCodeCheck row group general complaint">
		<label id="purchasePlaceLabel" class="contactusField label" for="purchasePlace">您在何处购买的本产品?:</label>
		<div id="purchasePlaceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchasePlaceTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="purchasePlace" class="contactusField fieldInput fieldSelect" name="where_buy" alt="请选择一项">
				<option value="">请选择一项</option>
				<option value="CONVENIENCE">便利店</option>
				<option value="DRUG">药店</option>
				<option value="GROCERY">杂货店</option>
				<option value="LIQUOR">烟酒店</option>
				<option value="CLUB">俱乐部会员店</option>
				<option value="WAREHOUSE">仓储式商店或超级市场</option>
				<option value="Bx">军事基地免税店</option>
				<option value="ONLINE">在线</option>
				<option value="GIFT">以礼品形式获得</option>
				<option value="RTHF">餐厅-小酒馆-酒店-航班</option>
				<option value="STATE">国营烟酒店</option>
				<option value="TASTINGRM">品酒屋</option>
				<option value="WINECLUB">葡萄酒俱乐部</option>
				<option value="DISCOUNTERS">折扣店</option>
				<option value="Other">免税店或渡轮</option>
				<option value="UNKNOWN">不记得或其他</option>
			</select>
		</div>
	</div>
	
	<div id="purchaseReasonWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseReasonLabel" class="contactusField label" for="purchaseReason">您为何购买本产品?</label>
		<div id="purchaseReasonDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchaseReasonTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="purchaseReason" class="contactusField fieldInput fieldSelect" name="why_buy" alt="Please select an option">
				<option value="">请选择一项</option>
				<option value="Appealing">吸引人的描述</option>
				<option value="Awards">竞争激烈的奖项</option>
				<option value="BuyList">杂志最畅销商品排行榜</option>
				<option value="Catchy Name">引人注意的名称</option>
				<option value="CAUSE">品牌支持社会事业</option>
				<option value="RECOCIC">CSR 推荐</option>
				<option value="Collector">消费者收藏葡萄酒</option>
				<option value="Country of Origin">原产地</option>
				<option value="EVENT-TR">在展览会或品酒屋品尝过</option>
				<option value="RECOFrFam">亲友推荐</option>
				<option value="GIFT">作为礼品</option>
				<option value="Goodvalue">物有所值</option>
				<option value="It was Gallo">因为是嘉露产品而品尝过</option>
				<option value="LabelDes">标签描述很吸引人</option>
				<option value="Location">心情或名称影响了我</option>
				<option value="AdvMag">看到杂志广告</option>
				<option value="MIR-CPN">我有一张优惠券</option>
				<option value="On Display">当时正在展示</option>
				<option value="ONSALE">当时正在促销</option>
				<option value="Points">酒评人给予高度评价</option>
				<option value="COOKCLASS">我在烹饪课上听人推荐</option>
				<option value="RegBuy">我经常购买这种葡萄酒</option>
				<option value="RECODr">医生推荐</option>
				<option value="RECORest">餐厅推荐</option>
				<option value="Saw on TV">在电视上看到</option>
				<option value="SOCNETWORK">社交网络帖子</option>
				<option value="Storedemo">在商店演示时品尝过</option>
				<option value="RECOStore">商店售货员推荐</option>
				<option value="Tried Socially">在社交活动上品尝过</option>
				<option value="VarietalPref">喜欢这个品种</option>
				<option value="AdvWeb">在网络广告上看到过</option>
			</select>
		</div>
	</div>
	<div id="occasionWrapper" class="reasconCodeCheck row group general complaint">
		<label id="occasionLabel" class="contactusField label" for="occasion">饮用场合?</label>
		<div id="occasionDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt occasionTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="occasion" class="contactusField fieldInput fieldSelect" name="occasion" alt="Please select an option">
				<option value="">请选择一项</option>
				<option value="ETM-HA">在家用过晚餐后</option>
				<option value="NIY-FH">在朋友家</option>
				<option value="DFT-HD">夫妻在家用餐时</option>
				<option value="GRT-HSO">在家庆祝特别日子时</option>
				<option value="ETM-HS">在家与他人共享</option>
				<option value="WT">在品酒会上</option>
				<option value="GRT-RD">在餐厅享用晚餐时</option>
				<option value="NIY-HH">快乐出游时</option>
				<option value="NIY-BA">休息室/小酒馆</option>
				<option value="GRT-RL">在餐厅享用午餐时</option>
				<option value="UNW-HA">我的个人时间里</option>
				<option value="GTGV-OUT">户外野营/徒步旅行时</option>
				<option value="GTGV-OSO">户外特殊场合</option>
				<option value="GRT-RSO">餐厅特殊场合</option>
				<option value="GRT-RB">商务午餐</option>
				<option value="NC">没有消费</option>
			</select>
		</div>
	</div>
	<div id="servingMethodWrapper" class="reasconCodeCheck row group general complaint">
		<label id="servingMethodLabel" class="contactusField label" for="servingMethod">产品是如何供应的?</label>
		<div id="servingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt servingMethodTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="servingMethod" class="contactusField fieldInput fieldSelect" name="how_served" alt="Please select an option">
				<option value="">请选择一项</option>
				<option value="COLA">添加可乐</option>
				<option value="JUICE">添加果汁</option>
				<option value="MIXEDWITH">添加其他酒精饮料</option>
				<option value="COFFEE">添加到咖啡中</option>
				<option value="ICE B">从冰桶中取出整瓶</option>
				<option value="ICE C">从冰柜中取出整瓶</option>
				<option value="COOK">用作烹饪调料</option>
				<option value="SODA TONIC">添加苏打水或奎宁水</option>
				<option value="DIDNOTSRV">没有尚未供应过</option>
				<option value="FROZEN">以冷冻状态供应</option>
				<option value="OVER ICE CREAM">浇在冰淇淋上面</option>
				<option value="UPNEAT">以供应纯烈酒供应</option>
				<option value="WARM">加热</option>
				<option value="ROOM">室温葡萄酒</option>
				<option value="OVERICE">将葡萄酒浇在冰块上</option>
				<option value="REFER">冷藏葡萄酒</option>
				<option value="ENERGY DRINK">与能量饮料混合</option>
				<option value="VODKA">与伏特加酒混合</option>
				<option value="OUTDOORS">在露天/自然环境中打开</option>
			</select>
		</div>
	</div>
	<div id="futurePurchaseWrapper" class="reasconCodeCheck row group general complaint">
		<label id="futurePurchaseLabel" class="contactusField label" for="futurePurchase">您是否计划再次购买本产品?</label>
		<div id="futurePurchaseDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt futurePurchaseTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="futurePurchase" class="contactusField fieldInput fieldSelect" name="buy_again" alt="Please select an option">
				<option value="">请选择一项</option>
				<option value="Y">将来肯定会购买</option>
				<option value="W">将来可能会购买</option>
				<option value="U">不确定</option>
				<option value="P">将来可能不会购买</option>
				<option value="N">将来肯定不会购买</option>
			</select>
		</div>
	</div>
	<div id="issueOccurrenceWrapper" class="reasconCodeCheck row group complaint">
		<label id="issueOccurrenceLabel" class="contactusField label" for="issueOccurrence">您首次注意到此问题是在什么时候?</label>
		<div id="issueOccurrenceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt issueOccurrenceTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="issueOccurrence" class="contactusField fieldInput fieldSelect"  name="when_notice" alt="Please select an option">
				<option value="">请选择一项</option>
				<option value="Tapopen">在取下贴箔、金属瓶盖/标签时注意到的</option>
				<option value="Screwcapopen">在取下螺旋盖时注意到的</option>
				<option value="Corkopen">用瓶塞钻打开瓶子时注意到的</option>
				<option value="First">第一杯时</option>
				<option value="Second">第二杯时</option>
				<option value="Midbottle">瓶里还剩一半时</option>
				<option value="Last">最后一杯时</option>
				<option value="Empty">瓶子见底时</option>
				<option value="Firstsip">对瓶嘴呡第一口时</option>
				<option value="Sniu">产品未打开，处于贮存状态</option>
				<option value="Osniu">瓶子打开过，处于贮存状态，但没有饮用过</option>
				<option value="Shelf">产品放在贮存架上</option>
			</select>
		</div>
	</div>
	<div id="storageLocationWrapper" class="reasconCodeCheck row group complaint">
		<label id="storageLocationLabel" class="contactusField label" for="storageLocation">在此之前，产品储存于何处？</label>
		<div id="storageLocationDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt storageLocationTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="storageLocation" class="contactusField fieldInput fieldSelect" name="where_stored"  alt="Please select an option">
				<option value="">请选择一项</option>
				<option value="Car">轿车</option>
				<option value="Closet">壁橱</option>
				<option value="Countertop">柜台面</option>
				<option value="Cupboard">橱柜/食品储藏室</option>
				<option value="Garage">车库</option>
				<option value="Refrigerator">冰箱</option>
				<option value="Cellar">酒窖</option>
				<option value="Rack">酒架</option>
				<option value="Chiller">冰酒器</option>
				<option value="Sdns">未贮存-购买当日饮用过</option>
			</select>
		</div>
	</div>
	<div id="openingMethodWrapper" class="reasconCodeCheck row group complaint">
		<label id="openingMethodLabel" class="contactusField label" for="openingMethod">使用的是哪种类型的拔塞器或开瓶器?</label>
		<div id="openingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt openingMethodTxt group"><span class="selectedTxt">请选择一项</span><span class="arrowDown"></span></div>
			<select id="openingMethod" class="contactusField fieldInput fieldSelect" name="what_opener" alt="Please select an option">
				<option value="">请选择一项</option>
				<option value="T">T 型</option>
				<option value="Waiter">侍者扳手</option>
				<option value="Wing">翼杆</option>
				<option value="Boot">引导杆</option>
				<option value="Rabbit">兔形装置</option>
				<option value="Brucart">酒刀</option>
				<option value="Sieger 600">弹簧加力</option>
				<option value="Two Prong">一长尖/一短尖</option>
				<option value="Speed">快速拉拔器</option>
				<option value="Double Helix">自动瓶塞钻</option>
				<option value="Co2">气压开瓶器</option>
				<option value="Ohso">传统型</option>
				<option value="Ncs">传统型</option>
				<option value="Other Opener">其他</option>
			</select>
		</div>
	</div>
	<div id="commentsHeaderWrapper" class="reasconCodeCheck row group general complaint casefollowup"><strong>备注</strong></div>
	<div id="userCommentWrapper" class="reasconCodeCheck row general complaint casefollowup">
		<label id="userCommentLabel" class="contactusField label" for="userComment">请在下方分享您的评论:<span class="required">*</span></label>
		<textarea id="userComment" class="contactusField fieldInput fieldTextArea" name="comments" data-parsley-required="true" data-parsley-trigger="keyup" maxlength="750" data-parsley-maxlength="750" data-parsley-maxlength-message="750 character limit" data-parsley-required-message="Comments is required."></textarea>
	</div>
	<div id="moreInfoIntlWrapper" class="row group checkCountry CAN INT yes-check">
		<input id="moreInfoIntl" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y" />
		<label id="moreInfoIntlLabel" class="contactusField label" for="moreInfoIntl">
			是的，我希望 {{brand_name}}. 就促销、产品和其他信息偶尔与我进行通信 。 此外，我同意在美国或英国对我在此网站上提供的数据进行传输和存储，我也同意按照 {{brand_name}} 隐私政策对此类信息进行处理。
		</label>
	</div>
	<div id="userOpinionWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="userOpinion" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_opinion" value="Y"/>
		<label id="userOpinionLabel" class="contactusField label" for="userOpinion">是的，我愿意就产品或包装变化（今后若有）发表意见。</label>
	</div>
	<div id="moreInfoWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="moreInfo" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y"/>
		<label id="moreInfoLabel" class="contactusField label" for="moreInfo">是的，我希望收到 {{brand_name}} 的通信和其他信息。</label>
	</div>
	<div id="userContactWrapper" class="reasconCodeCheck row group general complaint no-check">
		<input id="userContact" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="no_contact" value="Y">
		<label id="userContactLabel" class="contactusField label" for="userContact">不。今后请不要与我联络。</label>
	</div>

	<div id="submitBtnWrapper" class="reasconCodeCheck general complaint casefollowup"><input id="submit" class="fieldInput" type="submit" value="提交"/></div>

	<div id="formRequirementsWrapper" class="reasconCodeCheck general complaint casefollowup">
		<p><span class="required">*</span> 必填项</p>
		<p><span class="required">**</span> 请确认您在访问此网站时已达到此网站所在的国家已达到规定的法定饮酒年龄。</p>
	</div>
</form>