<h1>Kontakt</h1>
<div id="formHeaderWrapper" class="formHeaderWrapper row group">
	<div id="formHeaderText" class="forHeaderChild">
		<p>Wir würden uns über Ihre Kommentare freuen. Nehmen Sie sich daher bitte einen Augenblick Zeit, um uns die nachfolgenden Informationen zur Verfügung zu stellen. Wenn Sie Fragen haben, erreichen Sie uns telefonisch unter <a class="mobile" href="tel: {{phone}}">{{phone}}</a>, (montags bis freitags von 8-17 Uhr und samstags von 9-15 Uhr (Pazifische Standardzeit)).
		</p>
	</div>
	<div id="formHeaderWinefinder" class="forHeaderChild desktop">Sie finden Ihren Lieblingswein nicht? Nutzen Sie unsere <a href="{{winefinder}}">Weinsuchfunktion</a>.</div>
	<div id="formHeaderPrivacypolicy" class="forHeaderChild desktop"><a href="{{privacy_policy}}" target="_window">Hier erfahren Sie, wie wir Ihre Informationen verwenden</a>.</div>
</div>
<form name="contactUsIntlForm-DE" id="contactUsForm" class="form desktop">
	<input type="hidden" name="brand_code" value="{{brand_code}}" />
    <input type="hidden" name="form_lang" value="DE" />
    <input type="hidden" name="verify" value="0" />

    <input type="hidden" name="phoneLanguage" value="Telefon ist obligatorisch" />
    <input type="hidden" name="phoneTypeLanguage" value="Telefonart ist obligatorisch" />
    
    <input type="hidden" name="successTxt" value="Die Kontaktanfrage wurde erfolgreich gesendet." />
    <input type="hidden" name="thankyouTxt" value="Vielen Dank!" />
    <input type="hidden" name="closeTxt" value="Klicken Sie zum Schließen auf eine beliebige Stelle." />

	<div class="aboutMeWrapper contactusField" style="display: none;">
		<!-- TODO: Add honey pot algorithm logic -->
		<input class="textField" id="" name="">
		<input class="textField" id="" name="">
		<input class="textField" value="good" id="" name="">
	</div>

	<div id="reasonCodeWrapper" class="row group">
		<label id="reasonCodeLabel" class="contactusField label" for="reasonCode">Zweck Ihrer Mitteilung<span class="required">*</span></label>
		<div id="reasonCodeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt reasonCodeTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="reasonCode" class="contactusField fieldInput fieldSelect" name="nature" alt="Please select an option" data-parsley-required="true" data-parsley-required-message="Zweck Ihrer Mitteilung obligatorische" data-parsley-trigger="change">
				<option value="">Bitte eine Option auswählen</option>
				<option value="Praise-Comment-Inquiry">Bewertung, Kommentar oder Anfrage zu einem Produkt</option>
				<option value="Complaint">Reklamation zu einem Produkt</option>
				<option value="Case Follow Up">Nachfrage zu einem aktuellen Fall</option>
			</select>
		</div>
	</div>
	<div id="followUpCaseWrapper" class="reasconCodeCheck row casefollowup group">
		<p>Wenn es sich hierbei um eine Nachfrage zu einem vorhandenen Kontakt handelt, geben Sie bitte die Fallnummer an, die Sie von unserem Kundenbetreuungsteam erhalten haben.</p>
		<div>
			<label id="followUpCaseLabel" class="contactusField label" for="caseNumber">Fallnummer:<span class="required">*</span></label>
			<input id="followUpCase" class="contactusField fieldInput" type="text" name="case_id" value="" data-parsley-required="true" data-parsley-required-message="Fallnummer ist obligatorisch" data-parsley-required="true" data-parsley-type="alphanum" data-parsley-trigger="keyup">
		</div>
	</div>

	<div id="contactInfoText" class="contactusField reasconCodeCheck row general complaint"><strong>KONTAKTINFORMATIONEN</strong></div>

	<div id="firstNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="firstNameLabel" class="contactusField label" for="first_name">Vorname:<span class="required">*</span></label>
    	<input id="firstName" class="contactusField fieldInput" name="first_name" type="text" data-parsley-maxlength="25" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-required-message="Vorname obligatorische" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="lastNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
    	<label id="lastNameLabel" class="contactusField label" for="last_name">Nachname:<span class="required">*</span></label>
    	<input id="lastName" class="contactusField fieldInput" name="last_name" type="text" data-parsley-trigger="keyup" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-maxlength="25" data-parsley-required-message="Nachname obligatorische" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="genderWrapper" class="reasconCodeCheck row group general complaint">
		<label id="genderLabel" class="contactusField label" for="gender">Geschlecht:<span class="required">*</span></label>
		<div id="genderDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt genderTxt group"><span class="selectedTxt">Geschlecht</span><span class="arrowDown"></span></div>
			<select id="gender" class="contactusField fieldInput fieldSelect" name="gender" data-parsley-required="true" data-parsley-required-message="Geschlecht obligatorische" data-parsley-trigger="change">
				<option value="">Geschlecht</option>
				<option value="M">Männlich</option>
				<option value="F">Weiblich</option>
				<option value="O">Divers</option>
			</select>
		</div>
	</div>
	<div id="dobWrapper" class="reasconCodeCheck row group general complaint">
        <input type="hidden" name="dob" value="" />
		<label id="dobLabel" class="contactusField label" for="dobMonth">Geburtsdatum:</label>
        <div id="dobDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
            <div class="dropdownTxt dobTxt group"><span class="selectedTxt">Monat</span><span class="arrowDown"></span></div>
            <select id="dobMonth" class="contactusField fieldInput fieldSelect" alt="Please select an option">
                <option value="" selected>Monat</option>
                <option value="01">Januar</option>
                <option value="02">Februar</option>
                <option value="03">März</option>
                <option value="04">April</option>
                <option value="05">Mai</option>
                <option value="06">Juni</option>
                <option value="07">Juli</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">Oktober</option>
                <option value="11">November</option>
                <option value="12">Dezember</option>
            </select>
        </div>
        <input id="dobDay" class="contactusField fieldInput" type="text" data-parsley-length="[1, 2]" placeholder="TT" data-parsley-pattern="/^(?:([1-9]|[12][0-9]|3[01]))$/" data-parsley-trigger="keyup" />
        <input id="dobYear" class="contactusField fieldInput" type="text" placeholder="JJJJ" data-parsley-pattern="/^(?:(19|20)[0-9]{2})$/" data-parsley-trigger="keyup" />
	</div>
	<div id="emailWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="emailLabel" class="contactusField label" for="email">E-Mail:<span class="required">*</span></label>
    	<input id="email" class="contactusField fieldInput" name="email" type="email" data-parsley-trigger="change" data-parsley-type="email" data-parsley-required-message="E-Mail obligatorische" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="countryWrapper" class="reasconCodeCheck row group general complaint">
		<label id="countryLabel" class="contactusField label" for="country">Land:<span class="required">*</span></label>
		<div id="countryDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt countryTxt group"><span class="selectedTxt">United States of America</span><span class="arrowDown"></span></div>
			<select id="country" class="contactusField fieldInput fieldSelect" name="country" data-parsley-required="true" data-parsley-required-message="Land obligatorische" data-parsley-trigger="change">
				<option value="USA" selected="selected">United States of America</option>
				<option value="CAN">Canada</option>
				<option value="AFG">Afghanistan</option>
				<option value="ALB">Albania</option>
				<option value="DZA">Algeria</option>
				<option value="AND">Andorra</option>
				<option value="AGO">Angola</option>
				<option value="AIA">Anguilla</option>
				<option value="ATA">Antarctica</option>
				<option value="ATG">Antigua And Barbuda</option>
				<option value="ARG">Argentina</option>
				<option value="ARM">Armenia</option>
				<option value="ABW">Aruba</option>
				<option value="AUS">Australia</option>
				<option value="AUT">Austria</option>
				<option value="AZE">Azerbaijan</option>
				<option value="BHS">Bahamas</option>
				<option value="BHR">Bahrain</option>
				<option value="BGD">Bangladesh</option>
				<option value="BRB">Barbados</option>
				<option value="BLR">Belarus</option>
				<option value="BEL">Belgium</option>
				<option value="BLZ">Belize</option>
				<option value="BEN">Benin</option>
				<option value="BMU">Bermuda</option>
				<option value="BTN">Bhutan</option>
				<option value="BOL">Bolivia</option>
				<option value="BIH">Bosnia And Herzegowina</option>
				<option value="BWA">Botswana</option>
				<option value="BVT">Bouvet Island</option>
				<option value="BRA">Brazil</option>
				<option value="IOT">British Indian Ocean Territory</option>
				<option value="BRN">Brunei Darussalam</option>
				<option value="BGR">Bulgaria</option>
				<option value="BFA">Burkina Faso</option>
				<option value="BDI">Burundi</option>
				<option value="KHM">Cambodia</option>
				<option value="CMR">Cameroon</option>
				<option value="CPV">Cape Verde</option>
				<option value="CYM">Cayman Islands</option>
				<option value="CAF">Central African Republic</option>
				<option value="TCD">Chad</option>
				<option value="CHL">Chile</option>
				<option value="CHN">China</option>
				<option value="CXR">Christmas Island</option>
				<option value="CCK">Cocos (Keeling) Islands</option>
				<option value="COL">Colombia</option>
				<option value="COM">Comoros</option>
				<option value="COG">Congo</option>
				<option value="COK">Cook Islands</option>
				<option value="CRI">Costa Rica</option>
				<option value="CIV">Cote D"Ivoire</option>
				<option value="HRV">Croatia</option>
				<option value="CUB">Cuba</option>
				<option value="CYP">Cyprus</option>
				<option value="CZE">Czech Republic</option>
				<option value="DNK">Denmark</option>
				<option value="DJI">Djibouti</option>
				<option value="DMA">Dominica</option>
				<option value="DOM">Dominican Republic</option>
				<option value="TMP">East Timor</option>
				<option value="ECU">Ecuador</option>
				<option value="EGY">Egypt</option>
				<option value="SLV">El Salvador</option>
				<option value="GNQ">Equatorial Guinea</option>
				<option value="ERI">Eritrea</option>
				<option value="EST">Estonia</option>
				<option value="ETH">Ethiopia</option>
				<option value="FLK">Falkland Islands (Malvinas)</option>
				<option value="FRO">Faroe Islands</option>
				<option value="FJI">Fiji</option>
				<option value="FIN">Finland</option>
				<option value="FRA">France</option>
				<option value="FXX">France</option>
				<option value="GUF">French Guiana</option>
				<option value="PYF">French Polynesia</option>
				<option value="ATF">French Southern Territories</option>
				<option value="GAB">Gabon</option>
				<option value="GMB">Gambia</option>
				<option value="GEO">Georgia</option>
				<option value="DEU">Germany</option>
				<option value="GHA">Ghana</option>
				<option value="GIB">Gibraltar</option>
				<option value="GRC">Greece</option>
				<option value="GRL">Greenland</option>
				<option value="GRD">Grenada</option>
				<option value="GLP">Guadeloupe</option>
				<option value="GUM">Guam</option>
				<option value="GTM">Guatemala</option>
				<option value="GIN">Guinea</option>
				<option value="GNB">Guinea-Bissau</option>
				<option value="GUY">Guyana</option>
				<option value="HTI">Haiti</option>
				<option value="HOL">Holland</option>
				<option value="HMD">Heard And Mc Donald Islands</option>
				<option value="HND">Honduras</option>
				<option value="HKG">Hong Kong</option>
				<option value="HUN">Hungary</option>
				<option value="ISL">Iceland</option>
				<option value="IND">India</option>
				<option value="IDN">Indonesia</option>
				<option value="IRN">Iran (Islamic Republic Of)</option>
				<option value="IRQ">Iraq</option>
				<option value="IRL">Ireland</option>
				<option value="ISR">Israel</option>
				<option value="ITA">Italy</option>
				<option value="JAM">Jamaica</option>
				<option value="JPN">Japan</option>
				<option value="JOR">Jordan</option>
				<option value="KAZ">Kazakhstan</option>
				<option value="KEN">Kenya</option>
				<option value="KIR">Kiribati</option>
				<option value="PRK">Korea</option>
				<option value="KOR">Korea</option>
				<option value="KWT">Kuwait</option>
				<option value="KGZ">Kyrgyzstan</option>
				<option value="LAO">Lao People's Democratic Republic</option>
				<option value="LVA">Latvia</option>
				<option value="LBN">Lebanon</option>
				<option value="LSO">Lesotho</option>
				<option value="LBR">Liberia</option>
				<option value="LBY">Libyan Arab Jamahiriya</option>
				<option value="LIE">Liechtenstein</option>
				<option value="LTU">Lithuania</option>
				<option value="LUX">Luxembourg</option>
				<option value="MAC">Macau</option>
				<option value="MKD">Macedonia</option>
				<option value="MDG">Madagascar</option>
				<option value="MWI">Malawi</option>
				<option value="MYS">Malaysia</option>
				<option value="MDV">Maldives</option>
				<option value="MLI">Mali</option>
				<option value="MLT">Malta</option>
				<option value="MHL">Marshall Islands</option>
				<option value="MTQ">Martinique</option>
				<option value="MRT">Mauritania</option>
				<option value="MUS">Mauritius</option>
				<option value="MYT">Mayotte</option>
				<option value="MEX">Mexico</option>
				<option value="FSM">Micronesia</option>
				<option value="MDA">Moldova</option>
				<option value="MCO">Monaco</option>
				<option value="MNG">Mongolia</option>
				<option value="MSR">Montserrat</option>
				<option value="MAR">Morocco</option>
				<option value="MOZ">Mozambique</option>
				<option value="MMR">Myanmar</option>
				<option value="NAM">Namibia</option>
				<option value="NRU">Nauru</option>
				<option value="NPL">Nepal</option>
				<option value="NLD">Netherlands</option>
				<option value="ANT">Netherlands Antilles</option>
				<option value="NCL">New Caledonia</option>
				<option value="NZL">New Zealand</option>
				<option value="NIC">Nicaragua</option>
				<option value="NER">Niger</option>
				<option value="NGA">Nigeria</option>
				<option value="NIU">Niue</option>
				<option value="NFK">Norfolk Island</option>
				<option value="MNP">Northern Mariana Islands</option>
				<option value="NOR">Norway</option>
				<option value="OMN">Oman</option>
				<option value="PAK">Pakistan</option>
				<option value="PLW">Palau</option>
				<option value="PAN">Panama</option>
				<option value="PNG">Papua New Guinea</option>
				<option value="PRY">Paraguay</option>
				<option value="PER">Peru</option>
				<option value="PHL">Philippines</option>
				<option value="PCN">Pitcairn</option>
				<option value="POL">Poland</option>
				<option value="PRT">Portugal</option>
				<option value="PRI">Puerto Rico</option>
				<option value="QAT">Qatar</option>
				<option value="REU">Reunion</option>
				<option value="ROM">Romania</option>
				<option value="RUS">Russian Federation</option>
				<option value="RWA">Rwanda</option>
				<option value="KNA">Saint Kitts And Nevis</option>
				<option value="LCA">Saint Lucia</option>
				<option value="VCT">Saint Vincent And The Grenadines</option>
				<option value="WSM">Samoa</option>
				<option value="SMR">San Marino</option>
				<option value="STP">Sao Tome And Principe</option>
				<option value="SAU">Saudi Arabia</option>
				<option value="SEN">Senegal</option>
				<option value="SYC">Seychelles</option>
				<option value="SLE">Sierra Leonev</option>
				<option value="SGP">Singapore</option>
				<option value="SVK">Slovakia (Slovak Republic)</option>
				<option value="SVN">Slovenia</option>
				<option value="SLB">Solomon Islands</option>
				<option value="SOM">Somalia</option>
				<option value="ZAF">South Africa</option>
				<option value="SGS">South Georgia And The S. Sandwich Is.</option>
				<option value="ESP">Spain</option>
				<option value="LKA">Sri Lanka</option>
				<option value="SHN">St. Helena</option>
				<option value="SPM">St. Pierre And Miquelon</option>
				<option value="SDN">Sudan</option>
				<option value="SUR">Suriname</option>
				<option value="SJM">Svalbard And Jan Mayen Islands</option>
				<option value="SWZ">Swaziland</option>
				<option value="SWE">Sweden</option>
				<option value="CHE">Switzerland</option>
				<option value="SYR">Syrian Arab Republic</option>
				<option value="TWN">Taiwan</option>
				<option value="TJK">Tajikistan</option>
				<option value="TZA">Tanzania</option>
				<option value="THA">Thailand</option>
				<option value="TGO">Togo</option>
				<option value="TKL">Tokelau</option>
				<option value="TON">Tonga</option>
				<option value="TOR">Tortola</option>
				<option value="TTO">Trinidad And Tobago</option>
				<option value="TUN">Tunisia</option>
				<option value="TUR">Turkey</option>
				<option value="TKM">Turkmenistan</option>
				<option value="TCA">Turks And Caicos Islands</option>
				<option value="TUV">Tuvalu</option>
				<option value="UGA">Uganda</option>
				<option value="UKR">Ukraine</option>
				<option value="ARE">United Arab Emirates</option>
				<option value="GBR">United Kingdom</option>
				<option value="UMI">United States Minor Outlying Islands</option>
				<option value="URY">Uruguay</option>
				<option value="UZB">Uzbekistan</option>
				<option value="VUT">Vanuatu</option>
				<option value="VAT">Vatican City State (Holy See)</option>
				<option value="VEN">Venezuela</option>
				<option value="VNM">Viet Nam</option>
				<option value="VGB">Virgin Islands (British)</option>
				<option value="VIR">Virgin Islands (U.S.)</option>
				<option value="WLF">Wallis And Futuna Islands</option>
				<option value="ESH">Western Sahara</option>
				<option value="WIN">West Indies</option>
				<option value="YEM">Yemen</option>
				<option value="YUG">Yugoslavia</option>
				<option value="ZAR">Zaire</option>
				<option value="ZMB">Zambia</option>
				<option value="ZWE">Zimbabwe</option>
			</select>
		</div>
	</div>
	<div id="addressWrapper" class="reasconCodeCheck row group general complaint">
		<label id="addressLabel" class="contactusField label" for="address">Adresse:</label>
		<input id="address" type="text" class="contactusField fieldInput" name="address" />
	</div>
	<div id="cityWrapper" class="reasconCodeCheck row group general complaint">
		<label id="cityLabel" class="contactusField label" for="city">Ort:</label>
		<input id="city" type="text" class="contactusField fieldInput" name="city" />
	</div>
	<div id="stateWrapper" class="reasconCodeCheck row group checkCountry USA general complaint">
		<label id="stateLabel" class="contactusField label" for="state">Bundesstaat:</label>
		<div id="stateDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt stateTxt group"><span class="selectedTxt">Bundesstaat auswählen</span><span class="arrowDown"></span></div>
			<select id="state" class="contactusField fieldInput fieldSelect" name="state">
				<option value="">Bundesstaat auswählen</option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DC">D.C.</option>
				<option value="DE">Delaware</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="kS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="Ri">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
		</div>
	</div>
	<div id="provinceWrapper" class="row group checkCountry CAN">
		<label id="provinceLabel" class="contactusField label" for="state">Provinz:</label>
		<div id="provinceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt provinceTxt group"><span class="selectedTxt">Provinz auswählen</span><span class="arrowDown"></span></div>
			<select id="province" class="contactusField fieldInput fieldSelect" name="state" >
				<option value="">Provinz auswählen</option>
				<option value="AB">Alberta</option>
				<option value="BC">British Columbia</option>
				<option value="MB">Manitoba</option>
				<option value="NB">New Brunswick</option>
				<option value="NL">NewFoundland and Labrador</option>
				<option value="NT">Northwest Territories</option>
				<option value="NS">Nova Scotia</option>
				<option value="NU">Nunavut</option>
				<option value="OT">Ontario</option>
				<option value="PE">Prince Edward Island</option>
				<option value="QC">Quebec</option>
				<option value="SK">Saskatchewan</option>
				<option value="YT">Yukon</option>
			</select>
		</div>
	</div>
	<div id="zipWrapper" class="reasconCodeCheck row group general complaint">
		<label id="zipLabel" class="contactusField label" for="zip">PLZ:</label>
    	<input id="zip" class="contactusField fieldInput" name="zip" type="text" />
    </div>
    <div id="phoneWrapper" class="reasconCodeCheck row group general complaint casefollowup" >
		<label id="phoneLabel" class="contactusField label" for="phone">Telefon:</label>
    	<input id="phone" class="contactusField fieldInput" name="phone" type="text" />
    	<div id="phoneTypeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt phoneTypeTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="phoneType" name="phone_type" class="fieldInput fieldSelect" >
				<option value="">Bitte eine Option auswählen</option>
				<option value="Cell">Mobil</option>
				<option value="Home">Privat</option>
				<option value="Work">Beruflich</option>
			</select>
		</div>
    </div>
    <div id="prefContactMethod" class="reasconCodeCheck row group general complaint casefollowup">
    	<div id="prefContactMethodLabelWrapper"><label id="contactMethodLabel" class="contactusField label" for="phone_method">Bevorzugte Kontaktmethode:</label></div>
		<div id="prefContactMethodWrapper">
			<input id="prefContactEmail" class="contactusField radioField" type="radio" name="phone_method" value="Email" /><label class="radioInlineLabel contactusField label" for="prefContactEmail">E-Mail</label>
			<input id="prefContactPhone" class="contactusField radioField" type="radio" name="phone_method" value="Phone Number" /><label class="radioInlineLabel contactusField label" for="prefContactPhone">Telefon</label>
			<input id="prefContactMail" class="contactusField radioField" type="radio" name="phone_method" value="Mail" /><label class="radioInlineLabel contactusField label" for="prefContactMail">Post</label>
		</div>
    </div>
	<div id="productHeaderWrapper" class="reasconCodeCheck row group general complaint">
		<strong>Produktfragen</strong>
		<p>Durch Ihre Antworten auf die folgenden Fragen können Sie uns dabei helfen, Ihnen einen besseren Service zu bieten:</p>
	</div>
	<div id="upcWrapper" class="row group reasconCodeCheck general complaint">
		<label id="upcLabel" class="contactusField label" for="upc">Geben Sie die zehnstellige UPC-Nummer ein:</label>
		<input id="upc"  class="contactusField fieldInput" type="text" name="upc" maxlength="10" value="">
		<a href="#" id="showUPCExample">Details anzeigen</a>
		<div id="upcDetailWrapper">
			<img src="/BrandSDK-v1.1/images/contactus/barcode.gif" align="Sku #" id="sku" width="168">
			<div id="upcMessageWrapper" class="boxOut" >
			</div>
		</div>
	</div>
	<div id="bottleProductCodeWrapper" class="row group reasconCodeCheck complaint">
		<label id="bottleProductCodeLabel" class="contactusField label" for="bottleProductCode">Bitte Abfälldatumscode eingeben:</label>
		<input  id="bottleProductCode" class="contactusField fieldInput" type="text" name="product_code" value="">
		<div><a href="/BrandSDK-v1.1/images/contactus/bottleProductCodeExample.png" id="bottleProductCodeExample" target="_blank">See Example</a></div>
	</div>
	<div id="purchaseDateWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseDateLabel" class="contactusField label" for="purchaseDate">Erinnern Sie sich, wann Sie dieses Produkt gekauft haben?</label>
		<input id="purchaseDate" class="contactusField fieldInput" name="purchase_date" type="text" placeholder="MM-DD-JJJJ" data-parsley-pattern="/^(?:(0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])[-](19|20)[0-9]{2})$/" data-parsley-trigger="keyup" />
	</div>
	<div id="purchasePlace" class="reasconCodeCheck row group general complaint">
		<label id="purchasePlaceLabel" class="contactusField label" for="purchasePlace">Wo haben Sie es gekauft?:</label>
		<div id="purchasePlaceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchasePlaceTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="purchasePlace" class="contactusField fieldInput fieldSelect" name="where_buy" alt="Please select an option">
				<option value="">Bitte eine Option auswählen</option>
				<option value="CONVENIENCE">Lebensmittelgeschäft</option>
				<option value="DRUG">Apotheke oder Drogerie</option>
				<option value="GROCERY">Supermarkt</option>
				<option value="LIQUOR">Likör-/Weinhandel</option>
				<option value="CLUB">Großhandelsmarkt</option>
				<option value="WAREHOUSE">Warehouse or Superstore</option>
				<option value="Bx">BX-Shop oder anderer Laden auf Militärbasis </option>
				<option value="ONLINE">Online-Händler</option>
				<option value="GIFT">Geschenk</option>
				<option value="RTHF">Restaurant oder Lounge</option>
				<option value="STATE">State Liquor Store</option>
				<option value="TASTINGRM">Probierstube, Festival oder Veranstaltung</option>
				<option value="WINECLUB">Wine Club</option>
				<option value="DISCOUNTERS">Discount Store</option>
				<option value="Other">Duty-Free-Shop</option>
				<option value="UNKNOWN">Don't Remember or Other</option>
			</select>
		</div>
	</div>
	<div id="purchaseReasonWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseReasonLabel" class="contactusField label" for="purchaseReason">Warum haben Sie dieses Produkt gekauft?</label>
		<div id="purchaseReasonDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchaseReasonTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="purchaseReason" class="contactusField fieldInput fieldSelect" name="why_buy" alt="Please select an option">
				<option value="">Bitte eine Option auswählen</option>
				<option value="Appealing">Etikett und Verpackung haben mich angesprochen</option>
				<option value="BuyList">Habe Empfehlung in Zeitschrift gelesen</option>
				<option value="CAUSE">Marke unterstützt karitative Initiative</option>
				<option value="EVENT-TR">Bei einer Veranstaltung probiert</option>
				<option value="RECOFrFam">Empfehlung durch Freunde oder Familie</option>
				<option value="Goodvalue">Gutes Preis-Leistungs-Verhältnis</option>
				<option value="LabelDes">Produkt-/Geschmacksbeschreibung hat mich angesprochen</option>
				<option value="AdvMag">Durch Werbung an Plakatwand bzw. in Zeitschrift/Zeitung animiert</option>
				<option value="MIR-CPN">Hatte einen Gutschein bzw. ein Rabatt- oder Werbeangebot</option>
				<option value="On Display">War in Vitrine ausgestellt</option>
				<option value="ONSALE">Sonderangebot</option>
				<option value="RECORest">Empfehlung durch Restaurant</option>
				<option value="SOCNETWORK">Durch Beitrag in sozialen Medien (Facebook, Twitter, Pinterest, Instagram) animiert</option>
				<option value="Storedemo">Wurde zur Verköstigung angeboten</option>
				<option value="RECOStore">Empfehlung durch Händler</option>
				<option value="AdvWeb">Durch Online-Webanzeige animiert</option>
                <option value="Awards">Hohe Auszeichnungen</option> 
                <option value="Catchy Name">Einprägsamer Name</option> 
                <option value="Country of Origin">Herstellungsland</option> 
                <option value="It was Gallo">Habe ihn probiert, weil es ein Gallo ist</option> 
                <option value="Location">Staat oder Herkunftsbezeichnung haben mich beeinflusst</option> 
                <option value="Points">Hoch bewertet von Weinkritikern</option> 
                <option value="Saw on TV">Im Fernsehen gesehen</option> 
                <option value="Tried Socially">Bei geselligem Anlass probiert</option> 
                <option value="VarietalPref">Rebsorte hat mir am besten geschmeckt</option>
			</select>
		</div>
	</div>
	<div id="occasionWrapper" class="reasconCodeCheck row group general complaint">
		<label id="occasionLabel" class="contactusField label" for="occasion">Bei welcher Gelegenheit haben Sie das Produkt konsumiert?</label>
		<div id="occasionDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt occasionTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="occasion" class="contactusField fieldInput fieldSelect" name="occasion" alt="Please select an option">
				<option value="">Bitte eine Option auswählen</option>
				<option value="ETM-HA">Nach dem Abendessen beim Entspannen mit Freunden</option>
				<option value="DFT-HD">Zu Hause beim Essen mit meinem/r Partner(in)</option>
				<option value="NIY-FH">Abendessen zu Hause mit Freunden/Familie</option>
				<option value="WT">Auf einer Weinprobe</option>
				<option value="NIY-HH">Treffen mit Freunden zur Happy Hour oder am frühen Abend</option>
				<option value="NIY-BA">Abends in einer Lounge oder in einem Club bei einem geselligen Treffen</option>
				<option value="UNW-HA">Allein, beim Entspannen, am Computer, beim Lesen usw.</option>
				<option value="GTGV-OSO">Im Freien – Picknick, am Strand, Gartenfest</option>
                <option value="MWF">Mittagessen oder Brunch</option>
				<option value="MP">Bei der Zubereitung einer Mahlzeit</option>
                <option value="GRT-HSO">Sonderveranstaltung</option>
                <option value="NIY-FH">Bei Freunden zu Hause</option> 
                <option value="ETM-HS">Zu Hause mit anderen</option> 
                <option value="GRT-RSO">Restaurant bei besonderem Anlass</option> 
                <option value="NC">Noch nicht getrunken</option>
			</select>
		</div>
	</div>
	<div id="servingMethodWrapper" class="reasconCodeCheck row group general complaint">
		<label id="servingMethodLabel" class="contactusField label" for="servingMethod">Wie wurde das Produkt serviert?</label>
		<div id="servingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt servingMethodTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="servingMethod" class="contactusField fieldInput fieldSelect" name="how_served" alt="Please select an option">
				<option value="">Bitte eine Option auswählen</option>
				<option value="JUICE">Gemischt in einer Bowle</option>
				<option value="ICE B">Aus dem Eiskübel</option>
				<option value="COOK">Zum Kochen verwendet</option>
				<option value="SODA TONIC">Gemischt mit kohlensäurehaltigem Getränk</option>
				<option value="DIDNOTSRV">Wurde noch nicht serviert</option>
				<option value="ROOM">Bei Raumtemperatur</option>
				<option value="OVERICE">Auf Eis</option>
				<option value="REFER">Gekühlt oder im Weinkühler</option>
                <option value="COLA">Gemischt mit Cola</option> 
                <option value="MIXEDWITH">Gemischt mit anderen alkoholischen Getränken</option> 
                <option value="COFFEE">Im Kaffee</option> 
                <option value="FROZEN">Wurde eiskalt serviert</option> 
                <option value="WARM">Erwärmt</option>
			</select>
		</div>
	</div>
	<div id="futurePurchaseWrapper" class="reasconCodeCheck row group general complaint">
		<label id="futurePurchaseLabel" class="contactusField label" for="futurePurchase">Haben Sie die Absicht, das Produkt noch einmal zu kaufen?</label>
		<div id="futurePurchaseDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt futurePurchaseTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="futurePurchase" class="contactusField fieldInput fieldSelect" name="buy_again" alt="Please select an option">
				<option value="">Bitte eine Option auswählen</option>
				<option value="Y">Ja, auf jeden Fall</option>
				<option value="W">Wahrscheinlich ja</option>
				<option value="U">Unentschlossen</option>
				<option value="P">Vermutlich nicht</option>
				<option value="N">Nein, auf keinen Fall</option>
			</select>
		</div>
	</div>
	<div id="issueOccurrenceWrapper" class="reasconCodeCheck row group complaint">
		<label id="issueOccurrenceLabel" class="contactusField label" for="issueOccurrence">Wann haben Sie erstmals ein Problem festgestellt?</label>
		<div id="issueOccurrenceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt issueOccurrenceTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="issueOccurrence" class="contactusField fieldInput fieldSelect"  name="when_notice" alt="Please select an option">
				<option value="">Bitte eine Option auswählen</option>
				<option value="Tapopen">Beim Entfernen der Folie oder Kapsel</option>
				<option value="Screwcapopen">Beim Entfernen des Schraubverschlusses</option>
				<option value="Corkopen">Beim Entkorken oder Öffnen der Flasche</option>
				<option value="First">Beim ersten Glas</option>
				<option value="Second">Beim zweiten Glas</option>
				<option value="Midbottle">Midbottle</option>
				<option value="Last">Beim letzten Glas</option>
				<option value="Empty">Als die Flasche leer war</option>
				<option value="Sniu">An der ungeöffneten Flasche</option>
                <option value="Midbottle">Bei halbvoller Flasche</option> 
                <option value="Firstsip">Beim ersten Schluck aus der Flasche</option> 
                <option value="Osniu">Flasche geöffnet, gelagert, aber nicht benutzt</option> 
                <option value="Shelf">Produkt auf Verkaufsregal</option>
			</select>
		</div>
	</div>
	<div id="storageLocationWrapper" class="reasconCodeCheck row group complaint">
		<label id="storageLocationLabel" class="contactusField label" for="storageLocation">Wo war das Produkt vor dem Servieren gelagert?</label>
		<div id="storageLocationDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt storageLocationTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="storageLocation" class="contactusField fieldInput fieldSelect" name="where_stored"  alt="Please select an option">
				<option value="">Bitte eine Option auswählen</option>
				<option value="Countertop">Arbeitsplatte oder Regal</option>
				<option value="Cupboard">Schrank oder Vorratsraum bei Raumtemperatur</option>
				<option value="Garage">Außenlagerung – Garage, Abstellraum</option>
				<option value="Refrigerator">Kühlschrank</option>
				<option value="Cellar">Weinkeller oder Keller</option>
				<option value="Chiller">Weinkühler</option>
                <option value="Rack">Flaschenregal</option> 
				<option value="Sdns">Wurde am Tag des Kaufs verwendet, Lagerung weniger als 24 Stunden </option>
			</select>
		</div>
	</div>
	<div id="openingMethodWrapper" class="reasconCodeCheck row group complaint">
		<label id="openingMethodLabel" class="contactusField label" for="openingMethod">Welche Art von Korkenzieher wurde verwendet?</label>
		<div id="openingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt openingMethodTxt group"><span class="selectedTxt">Bitte eine Option auswählen</span><span class="arrowDown"></span></div>
			<select id="openingMethod" class="contactusField fieldInput fieldSelect" name="what_opener" alt="Please select an option">
				<option value="">Bitte eine Option auswählen</option>
				<option value="T">T-förmig</option>
				<option value="Waiter">Kellnerkorkenzieher</option>
				<option value="Wing">Flügelkorkenzieher</option>
				<option value="Boot">Leverpull-Korkenzieher</option>
				<option value="Rabbit">Hebelkorkenzieher</option>
				<option value="Ncs">Keiner – Schraubverschluss oder Packung mit Ausguss</option>
				<option value="Other Opener">Sonstiges</option>
			</select>
		</div>
	</div>
	<div id="commentsHeaderWrapper" class="reasconCodeCheck row group general complaint casefollowup"><strong>Kommentare</strong></div>
	<div id="userCommentWrapper" class="reasconCodeCheck row general complaint casefollowup">
		<label id="userCommentLabel" class="contactusField label" for="comments">Bitte hinterlassen Sie hier Ihre Kommentare:<span class="required">*</span></label>
		<textarea id="userComment" class="contactusField fieldInput fieldTextArea" name="comments" data-parsley-required="true" data-parsley-trigger="keyup" maxlength="750" data-parsley-maxlength="750" data-parsley-maxlength-message="750 character limit" data-parsley-required-message="Kommentare sind obligatorisch"></textarea>
	</div>
	<div id="moreInfoIntlWrapper" class="row group checkCountry CAN INT yes-check">
		<input id="moreInfoIntl" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y" />
		<label id="moreInfoIntlLabel" class="contactusField label" for="moreInfoIntl">
			Ja, ich möchte von Ihnen über Werbeaktionen, Veranstaltungen und andere Informationen über {{brand_name}} per E-Mail benachrichtigt werden.<br>
			Weitere Informationen darüber, wie wir Ihre personenbezogenen Daten verwenden, über deren Übertragung außerhalb des Europäischen Wirtschaftsraums sowie Informationen darüber, wie Sie Ihre Zustimmung jederzeit widerrufen können, finden Sie in unserer <a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">Datenschutzrichtlinie</a>.
		</label>
	</div>
	<div id="userOpinionWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="userOpinion" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_opinion" value="Y"/>
		<label id="userOpinionLabel" class="contactusField label" for="userOpinion">Ja, falls es in der Zukunft Änderungen am Produkt oder an der Verpackung geben sollte, bin ich gerne bereit, Ihnen meine diesbezügliche Meinung mitzuteilen.</label>
	</div>
	<div id="moreInfoWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="moreInfo" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y"/>
		<label id="moreInfoLabel" class="contactusField label" for="moreInfo">Ja, ich möchte Mitteilungen und sonstige Informationen von  {{brand_name}} erhalten.</label>
	</div>
	<div id="userContactWrapper" class="reasconCodeCheck row group general complaint no-check">
		<input id="userContact" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="no_contact" value="Y">
		<label id="userContactLabel" class="contactusField label" for="userContact">Nein, bitte kontaktieren Sie mich in Zukunft nicht mehr.</label>
	</div>
    
    <div id="bottom-text">
        <p>Indem ich diese Informationen zur Verfügung stelle, bestätige ich, dass mir bekannt ist und ich damit einverstanden bin, dass meine persönlichen Daten im Einklang mit der <a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">Datenschutzrichtlinie</a> in andere Länder (einschließlich USA, GB/Nordirland, Kanada und andere Länder innerhalb und außerhalb des Europäischen Wirtschaftsraums) übertragen werden.
    </div>

	<div id="submitBtnWrapper" class="reasconCodeCheck general complaint casefollowup"><input id="submit" class="fieldInput" type="submit" value="Senden"/></div>

	<div id="formRequirementsWrapper" class="reasconCodeCheck general complaint casefollowup">
		<p><span class="required">*</span> Obligatorische Felder &nbsp;</p>
	</div>
</form>