<h1>聯絡資訊</h1>
<div id="formHeaderWrapper" class="formHeaderWrapper row group">
	<div id="formHeaderText" class="forHeaderChild">
		<p>
			謝謝您造訪我們的 {{brand_name}} 網站。 我們希望聽到您的意見，因此請花一點時間提供以下資訊。如果您需要進一步協助，請致電  <a class="mobile" href="tel: +{{phone}}">+{{phone}}</a>，服務時間為週一至週五早上 8 點至下午 5 點（PST），週六早上 9 點至下午 3 點（PST）。
		</p>
	</div>
	<div id="formHeaderWinefinder" class="forHeaderChild desktop">找不到您的最愛？歡迎查看我們的<a href="{{winefinder}}">酒款尋找工具</a>.</div>
	<div id="formHeaderPrivacypolicy" class="forHeaderChild desktop"><a href="{{privacy_policy}}" target="_window">進一步了解我們將如何使用您的資訊</a>。</div>
</div>
<form name="contactUsIntlForm-HK" id="contactUsForm" class="form desktop">
	<input type="hidden" name="brand_code" value="{{brand_code}}" />
    <input type="hidden" name="form_lang" value="HK" />
    <input type="hidden" name="verify" value="0" />

    <input type="hidden" name="phoneLanguage" value="需要手機" />
    <input type="hidden" name="phoneTypeLanguage" value="需要手機類型" />
    
    <input type="hidden" name="successTxt" value="已成功提交「聯絡我們」。" />
    <input type="hidden" name="thankyouTxt" value="謝謝！" />
    <input type="hidden" name="closeTxt" value="按一下任意處以關閉。" />

	<div class="aboutMeWrapper contactusField" style="display: none;">
		<!-- TODO: Add honey pot algorithm logic -->
		<input class="textField" id="" name="">
		<input class="textField" id="" name="">
		<input class="textField" value="good" id="" name="">
	</div>

	<div id="reasonCodeWrapper" class="row group">
		<label id="reasonCodeLabel" class="contactusField label" for="reasonCode">您的意見性質為？：<span class="required">*</span></label>
		<div id="reasonCodeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt reasonCodeTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="reasonCode" class="contactusField fieldInput fieldSelect" name="nature" alt="Please select an option" data-parsley-required="true" data-parsley-required-message="您的意見性質為 必填欄位" data-parsley-trigger="change">
				<option value="">請選擇一個答案</option>
				<option value="Praise-Comment-Inquiry">產品讚賞,意見或查詢</option>
				<option value="Complaint">產品投訴</option>
				<option value="Case Follow Up">追蹤目前個案</option>
			</select>
		</div>
	</div>
	<div id="followUpCaseWrapper" class="reasconCodeCheck row casefollowup group">
		<p>如果這是對現有聯絡人的後續追蹤，請提供消費者關係團隊提供給您的個案號碼。</p>
		<div>
			<label id="followUpCaseLabel" class="contactusField label" for="caseNumber">個案 ID 號碼:<span class="required">*</span></label>
			<input id="followUpCase" class="contactusField fieldInput" type="text" name="case_id" value="" data-parsley-required="true" data-parsley-required-message="個案 ID 號碼 必填欄位" data-parsley-required="true" data-parsley-type="alphanum" data-parsley-trigger="keyup">
		</div>
	</div>

	<div id="contactInfoText" class="contactusField reasconCodeCheck row general complaint"><strong>聯絡資訊</strong></div>

	<div id="firstNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="firstNameLabel" class="contactusField label" for="first_name">名字:<span class="required">*</span></label>
    	<input id="firstName" class="contactusField fieldInput" name="first_name" type="text" data-parsley-maxlength="25" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-required-message="名字 必填欄位" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="lastNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
    	<label id="lastNameLabel" class="contactusField label" for="last_name">姓氏:<span class="required">*</span></label>
    	<input id="lastName" class="contactusField fieldInput" name="last_name" type="text" data-parsley-trigger="keyup" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-maxlength="25" data-parsley-required-message="姓氏 必填欄位" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="genderWrapper" class="reasconCodeCheck row group general complaint">
		<label id="genderLabel" class="contactusField label" for="gender">性別:<span class="required">*</span></label>
		<div id="genderDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt genderTxt group"><span class="selectedTxt">性別</span><span class="arrowDown"></span></div>
			<select id="gender" class="contactusField fieldInput fieldSelect" name="gender" data-parsley-required="true" data-parsley-required-message="性別 必填欄位" data-parsley-trigger="change">
				<option value="">性別</option>
				<option value="M">男性</option>
				<option value="F">女性</option>
                <option value="UNK">拒絕說明</option>
			</select>
		</div>
	</div>
	<div id="dobWrapper" class="reasconCodeCheck row group general complaint">
        <input type="hidden" name="dob" value="" />
		<label id="dobLabel" class="contactusField label" for="dobMonth">生日:<span class="required">**</span></label>
        <div id="dobDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
            <div class="dropdownTxt dobTxt group"><span class="selectedTxt">月份</span><span class="arrowDown"></span></div>
            <select id="dobMonth" class="contactusField fieldInput fieldSelect" alt="Please select an option" data-parsley-required="true" data-parsley-required-message="生日 必填欄位" data-parsley-trigger="change">
                <option value="" selected>月份</option>
                <option value="01">一月</option>
                <option value="02">二月</option>
                <option value="03">三月</option>
                <option value="04">四月</option>
                <option value="05">五月</option>
                <option value="06">六月</option>
                <option value="07">七月</option>
                <option value="08">八月</option>
                <option value="09">九月</option>
                <option value="10">十月</option>
                <option value="11">十一月</option>
                <option value="12">十二月</option>
            </select>
        </div>
        <input id="dobDay" class="contactusField fieldInput" type="text" data-parsley-length="[1, 2]" placeholder="日" data-parsley-pattern="/^(?:([1-9]|[12][0-9]|3[01]))$/" data-parsley-required-message="日期是 必填欄位" data-parsley-trigger="keyup" data-parsley-required="true" />
        <input id="dobYear" class="contactusField fieldInput" type="text" placeholder="年" data-parsley-pattern="/^(?:(19|20)[0-9]{2})$/" data-parsley-required-message="年份是 必填欄位" data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="emailWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="emailLabel" class="contactusField label" for="email">電子郵件:<span class="required">*</span></label>
    	<input id="email" class="contactusField fieldInput" name="email" type="email" data-parsley-trigger="change" data-parsley-type="email" data-parsley-required-message="電子郵件 必填欄位" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="countryWrapper" class="reasconCodeCheck row group general complaint">
		<label id="countryLabel" class="contactusField label" for="country">國家:<span class="required">*</span></label>
		<div id="countryDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt countryTxt group"><span class="selectedTxt">United States of America</span><span class="arrowDown"></span></div>
			<select id="country" class="contactusField fieldInput fieldSelect" name="country" data-parsley-required="true" data-parsley-required-message="Country is 必填欄位" data-parsley-trigger="change">
				<option value="USA" selected="selected">United States of America</option>
				<option value="CAN">Canada</option>
				<option value="AFG">Afghanistan</option>
				<option value="ALB">Albania</option>
				<option value="DZA">Algeria</option>
				<option value="AND">Andorra</option>
				<option value="AGO">Angola</option>
				<option value="AIA">Anguilla</option>
				<option value="ATA">Antarctica</option>
				<option value="ATG">Antigua And Barbuda</option>
				<option value="ARG">Argentina</option>
				<option value="ARM">Armenia</option>
				<option value="ABW">Aruba</option>
				<option value="AUS">Australia</option>
				<option value="AUT">Austria</option>
				<option value="AZE">Azerbaijan</option>
				<option value="BHS">Bahamas</option>
				<option value="BHR">Bahrain</option>
				<option value="BGD">Bangladesh</option>
				<option value="BRB">Barbados</option>
				<option value="BLR">Belarus</option>
				<option value="BEL">Belgium</option>
				<option value="BLZ">Belize</option>
				<option value="BEN">Benin</option>
				<option value="BMU">Bermuda</option>
				<option value="BTN">Bhutan</option>
				<option value="BOL">Bolivia</option>
				<option value="BIH">Bosnia And Herzegowina</option>
				<option value="BWA">Botswana</option>
				<option value="BVT">Bouvet Island</option>
				<option value="BRA">Brazil</option>
				<option value="IOT">British Indian Ocean Territory</option>
				<option value="BRN">Brunei Darussalam</option>
				<option value="BGR">Bulgaria</option>
				<option value="BFA">Burkina Faso</option>
				<option value="BDI">Burundi</option>
				<option value="KHM">Cambodia</option>
				<option value="CMR">Cameroon</option>
				<option value="CPV">Cape Verde</option>
				<option value="CYM">Cayman Islands</option>
				<option value="CAF">Central African Republic</option>
				<option value="TCD">Chad</option>
				<option value="CHL">Chile</option>
				<option value="CHN">China</option>
				<option value="CXR">Christmas Island</option>
				<option value="CCK">Cocos (Keeling) Islands</option>
				<option value="COL">Colombia</option>
				<option value="COM">Comoros</option>
				<option value="COG">Congo</option>
				<option value="COK">Cook Islands</option>
				<option value="CRI">Costa Rica</option>
				<option value="CIV">Cote D"Ivoire</option>
				<option value="HRV">Croatia</option>
				<option value="CUB">Cuba</option>
				<option value="CYP">Cyprus</option>
				<option value="CZE">Czech Republic</option>
				<option value="DNK">Denmark</option>
				<option value="DJI">Djibouti</option>
				<option value="DMA">Dominica</option>
				<option value="DOM">Dominican Republic</option>
				<option value="TMP">East Timor</option>
				<option value="ECU">Ecuador</option>
				<option value="EGY">Egypt</option>
				<option value="SLV">El Salvador</option>
				<option value="GNQ">Equatorial Guinea</option>
				<option value="ERI">Eritrea</option>
				<option value="EST">Estonia</option>
				<option value="ETH">Ethiopia</option>
				<option value="FLK">Falkland Islands (Malvinas)</option>
				<option value="FRO">Faroe Islands</option>
				<option value="FJI">Fiji</option>
				<option value="FIN">Finland</option>
				<option value="FRA">France</option>
				<option value="FXX">France</option>
				<option value="GUF">French Guiana</option>
				<option value="PYF">French Polynesia</option>
				<option value="ATF">French Southern Territories</option>
				<option value="GAB">Gabon</option>
				<option value="GMB">Gambia</option>
				<option value="GEO">Georgia</option>
				<option value="DEU">Germany</option>
				<option value="GHA">Ghana</option>
				<option value="GIB">Gibraltar</option>
				<option value="GRC">Greece</option>
				<option value="GRL">Greenland</option>
				<option value="GRD">Grenada</option>
				<option value="GLP">Guadeloupe</option>
				<option value="GUM">Guam</option>
				<option value="GTM">Guatemala</option>
				<option value="GIN">Guinea</option>
				<option value="GNB">Guinea-Bissau</option>
				<option value="GUY">Guyana</option>
				<option value="HTI">Haiti</option>
				<option value="HOL">Holland</option>
				<option value="HMD">Heard And Mc Donald Islands</option>
				<option value="HND">Honduras</option>
				<option value="HKG">Hong Kong</option>
				<option value="HUN">Hungary</option>
				<option value="ISL">Iceland</option>
				<option value="IND">India</option>
				<option value="IDN">Indonesia</option>
				<option value="IRN">Iran (Islamic Republic Of)</option>
				<option value="IRQ">Iraq</option>
				<option value="IRL">Ireland</option>
				<option value="ISR">Israel</option>
				<option value="ITA">Italy</option>
				<option value="JAM">Jamaica</option>
				<option value="JPN">Japan</option>
				<option value="JOR">Jordan</option>
				<option value="KAZ">Kazakhstan</option>
				<option value="KEN">Kenya</option>
				<option value="KIR">Kiribati</option>
				<option value="PRK">Korea</option>
				<option value="KOR">Korea</option>
				<option value="KWT">Kuwait</option>
				<option value="KGZ">Kyrgyzstan</option>
				<option value="LAO">Lao People's Democratic Republic</option>
				<option value="LVA">Latvia</option>
				<option value="LBN">Lebanon</option>
				<option value="LSO">Lesotho</option>
				<option value="LBR">Liberia</option>
				<option value="LBY">Libyan Arab Jamahiriya</option>
				<option value="LIE">Liechtenstein</option>
				<option value="LTU">Lithuania</option>
				<option value="LUX">Luxembourg</option>
				<option value="MAC">Macau</option>
				<option value="MKD">Macedonia</option>
				<option value="MDG">Madagascar</option>
				<option value="MWI">Malawi</option>
				<option value="MYS">Malaysia</option>
				<option value="MDV">Maldives</option>
				<option value="MLI">Mali</option>
				<option value="MLT">Malta</option>
				<option value="MHL">Marshall Islands</option>
				<option value="MTQ">Martinique</option>
				<option value="MRT">Mauritania</option>
				<option value="MUS">Mauritius</option>
				<option value="MYT">Mayotte</option>
				<option value="MEX">Mexico</option>
				<option value="FSM">Micronesia</option>
				<option value="MDA">Moldova</option>
				<option value="MCO">Monaco</option>
				<option value="MNG">Mongolia</option>
				<option value="MSR">Montserrat</option>
				<option value="MAR">Morocco</option>
				<option value="MOZ">Mozambique</option>
				<option value="MMR">Myanmar</option>
				<option value="NAM">Namibia</option>
				<option value="NRU">Nauru</option>
				<option value="NPL">Nepal</option>
				<option value="NLD">Netherlands</option>
				<option value="ANT">Netherlands Antilles</option>
				<option value="NCL">New Caledonia</option>
				<option value="NZL">New Zealand</option>
				<option value="NIC">Nicaragua</option>
				<option value="NER">Niger</option>
				<option value="NGA">Nigeria</option>
				<option value="NIU">Niue</option>
				<option value="NFK">Norfolk Island</option>
				<option value="MNP">Northern Mariana Islands</option>
				<option value="NOR">Norway</option>
				<option value="OMN">Oman</option>
				<option value="PAK">Pakistan</option>
				<option value="PLW">Palau</option>
				<option value="PAN">Panama</option>
				<option value="PNG">Papua New Guinea</option>
				<option value="PRY">Paraguay</option>
				<option value="PER">Peru</option>
				<option value="PHL">Philippines</option>
				<option value="PCN">Pitcairn</option>
				<option value="POL">Poland</option>
				<option value="PRT">Portugal</option>
				<option value="PRI">Puerto Rico</option>
				<option value="QAT">Qatar</option>
				<option value="REU">Reunion</option>
				<option value="ROM">Romania</option>
				<option value="RUS">Russian Federation</option>
				<option value="RWA">Rwanda</option>
				<option value="KNA">Saint Kitts And Nevis</option>
				<option value="LCA">Saint Lucia</option>
				<option value="VCT">Saint Vincent And The Grenadines</option>
				<option value="WSM">Samoa</option>
				<option value="SMR">San Marino</option>
				<option value="STP">Sao Tome And Principe</option>
				<option value="SAU">Saudi Arabia</option>
				<option value="SEN">Senegal</option>
				<option value="SYC">Seychelles</option>
				<option value="SLE">Sierra Leonev</option>
				<option value="SGP">Singapore</option>
				<option value="SVK">Slovakia (Slovak Republic)</option>
				<option value="SVN">Slovenia</option>
				<option value="SLB">Solomon Islands</option>
				<option value="SOM">Somalia</option>
				<option value="ZAF">South Africa</option>
				<option value="SGS">South Georgia And The S. Sandwich Is.</option>
				<option value="ESP">Spain</option>
				<option value="LKA">Sri Lanka</option>
				<option value="SHN">St. Helena</option>
				<option value="SPM">St. Pierre And Miquelon</option>
				<option value="SDN">Sudan</option>
				<option value="SUR">Suriname</option>
				<option value="SJM">Svalbard And Jan Mayen Islands</option>
				<option value="SWZ">Swaziland</option>
				<option value="SWE">Sweden</option>
				<option value="CHE">Switzerland</option>
				<option value="SYR">Syrian Arab Republic</option>
				<option value="TWN">Taiwan</option>
				<option value="TJK">Tajikistan</option>
				<option value="TZA">Tanzania</option>
				<option value="THA">Thailand</option>
				<option value="TGO">Togo</option>
				<option value="TKL">Tokelau</option>
				<option value="TON">Tonga</option>
				<option value="TOR">Tortola</option>
				<option value="TTO">Trinidad And Tobago</option>
				<option value="TUN">Tunisia</option>
				<option value="TUR">Turkey</option>
				<option value="TKM">Turkmenistan</option>
				<option value="TCA">Turks And Caicos Islands</option>
				<option value="TUV">Tuvalu</option>
				<option value="UGA">Uganda</option>
				<option value="UKR">Ukraine</option>
				<option value="ARE">United Arab Emirates</option>
				<option value="GBR">United Kingdom</option>
				<option value="UMI">United States Minor Outlying Islands</option>
				<option value="URY">Uruguay</option>
				<option value="UZB">Uzbekistan</option>
				<option value="VUT">Vanuatu</option>
				<option value="VAT">Vatican City State (Holy See)</option>
				<option value="VEN">Venezuela</option>
				<option value="VNM">Viet Nam</option>
				<option value="VGB">Virgin Islands (British)</option>
				<option value="VIR">Virgin Islands (U.S.)</option>
				<option value="WLF">Wallis And Futuna Islands</option>
				<option value="ESH">Western Sahara</option>
				<option value="WIN">West Indies</option>
				<option value="YEM">Yemen</option>
				<option value="YUG">Yugoslavia</option>
				<option value="ZAR">Zaire</option>
				<option value="ZMB">Zambia</option>
				<option value="ZWE">Zimbabwe</option>
			</select>
		</div>
	</div>
	<div id="addressWrapper" class="reasconCodeCheck row group general complaint">
		<label id="addressLabel" class="contactusField label" for="address">地址:</label>
		<input id="address" type="text" class="contactusField fieldInput" name="address" />
	</div>
	<div id="cityWrapper" class="reasconCodeCheck row group general complaint">
		<label id="cityLabel" class="contactusField label" for="city">城市:</label>
		<input id="city" type="text" class="contactusField fieldInput" name="city" />
	</div>
	<div id="stateWrapper" class="reasconCodeCheck row group checkCountry USA general complaint">
		<label id="stateLabel" class="contactusField label" for="state">州別:</label>
		<div id="stateDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt stateTxt group"><span class="selectedTxt">選擇一個州別</span><span class="arrowDown"></span></div>
			<select id="state" class="contactusField fieldInput fieldSelect" name="state">
				<option value="">選擇一個州別</option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DC">D.C.</option>
				<option value="DE">Delaware</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="kS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="Ri">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
		</div>
	</div>
	<div id="provinceWrapper" class="row group checkCountry CAN">
		<label id="provinceLabel" class="contactusField label" for="state">選擇省份:</label>
		<div id="provinceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt provinceTxt group"><span class="selectedTxt">選擇省份</span><span class="arrowDown"></span></div>
			<select id="province" class="contactusField fieldInput fieldSelect" name="state" >
				<option value="">選擇省份</option>
				<option value="AB">Alberta</option>
				<option value="BC">British Columbia</option>
				<option value="MB">Manitoba</option>
				<option value="NB">New Brunswick</option>
				<option value="NL">NewFoundland and Labrador</option>
				<option value="NT">Northwest Territories</option>
				<option value="NS">Nova Scotia</option>
				<option value="NU">Nunavut</option>
				<option value="OT">Ontario</option>
				<option value="PE">Prince Edward Island</option>
				<option value="QC">Quebec</option>
				<option value="SK">Saskatchewan</option>
				<option value="YT">Yukon</option>
			</select>
		</div>
	</div>
	<div id="zipWrapper" class="reasconCodeCheck row group general complaint">
		<label id="zipLabel" class="contactusField label" for="zip">郵遞區號:<span class="required">*</span></label>
    	<input id="zip" class="contactusField fieldInput" name="zip" type="text" data-parsleyLength="[5, 20]" data-parsley-required-message="郵遞區號 必填欄位" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="phoneWrapper" class="reasconCodeCheck row group general complaint casefollowup" >
		<label id="phoneLabel" class="contactusField label" for="phone">電話號碼:<span class="required reasconCodeCheck casefollowup complaint">*</span></label>
    	<input id="phone" class="contactusField fieldInput" name="phone" type="text" />
    	<div id="phoneTypeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt phoneTypeTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="phoneType" name="phone_type" class="fieldInput fieldSelect" >
				<option value="">請選擇一個答案</option>
				<option value="Cell">手機</option>
				<option value="Home">家用電話</option>
				<option value="Work">工作電話</option>
			</select>
		</div>
    </div>
    <div id="prefContactMethod" class="reasconCodeCheck row group general complaint casefollowup">
    	<div id="prefContactMethodLabelWrapper"><label id="contactMethodLabel" class="contactusField label" for="phone_method">主要聯絡方式:</label></div>
		<div id="prefContactMethodWrapper">
			<input id="prefContactEmail" class="contactusField radioField" type="radio" name="phone_method" value="Email" /><label class="radioInlineLabel contactusField label" for="prefContactEmail">電子郵件</label>
			<input id="prefContactPhone" class="contactusField radioField" type="radio" name="phone_method" value="Phone Number" /><label class="radioInlineLabel contactusField label" for="prefContactEmail">電話</label>
			<input id="prefContactMail" class="contactusField radioField" type="radio" name="phone_method" value="Mail" /><label class="radioInlineLabel contactusField label" for="prefContactMail">信件</label>
		</div>
    </div>
	<div id="productHeaderWrapper" class="reasconCodeCheck row group general complaint">
		<strong>參閱詳細文字</strong>
		<p>請回答以下問題，幫助我們改善對您的服務:</p>
	</div>
	<div id="upcWrapper" class="row group reasconCodeCheck general complaint">
		<label id="upcLabel" class="contactusField label" for="upc">請輸入十位數 UPC 號碼:</label>
		<input id="upc"  class="contactusField fieldInput" type="text" name="upc" maxlength="10" value="">
		<a href="#" id="showUPCExample">參見詳細內容</a>
		<div id="upcDetailWrapper">
			<img src="/BrandSDK-v1.1/images/contactus/barcode.gif" align="Sku #" id="sku" width="168">
		</div>
	</div>
	<div id="bottleProductCodeWrapper" class="row group reasconCodeCheck complaint">
		<label id="bottleProductCodeLabel" class="contactusField label" for="bottleProductCode">請輸入裝瓶日期代碼:</label>
		<input  id="bottleProductCode" class="contactusField fieldInput" type="text" name="product_code" value="">
		<div><a href="/BrandSDK-v1.1/images/contactus/bottleProductCodeExample.png" id="bottleProductCodeExample" target="_blank">參見詳細內容</a></div>
	</div>
	<div id="purchaseDateWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseDateLabel" class="contactusField label" for="purchaseDate">您是否記得您於何時購買本產品?</label>
		<input id="purchaseDate" class="contactusField fieldInput" name="purchase_date" type="text" placeholder="MM-DD-YYYY" data-parsley-pattern="/^(?:(0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])[-](19|20)[0-9]{2})$/" data-parsley-trigger="keyup" />
	</div>
	<div id="purchasePlace" class="reasconCodeCheck row group general complaint">
		<label id="purchasePlaceLabel" class="contactusField label" for="purchasePlace">您於何處購買本產品?:</label>
		<div id="purchasePlaceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchasePlaceTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="purchasePlace" class="contactusField fieldInput fieldSelect" name="where_buy" alt="Please select an option">
				<option value="">請選擇一個答案</option>
				<option value="CONVENIENCE">便利店</option>
				<option value="DRUG">藥房或藥局</option>
				<option value="GROCERY">雜貨店</option>
				<option value="LIQUOR">酒行</option>
				<option value="CLUB">私人會所</option>
				<option value="Bx">基地販賣部</option>
				<option value="ONLINE">線上零售商</option>
				<option value="GIFT">他人致贈的禮物</option>
				<option value="RTHF">餐廳、酒吧或酒店</option>
				<option value="TASTINGRM">試飲室、節慶或活動</option>
				<option value="Other">免稅商店</option>
				<option value="UNKNOWN">尚未購買</option>
			</select>
		</div>
	</div>
	<div id="purchaseReasonWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseReasonLabel" class="contactusField label" for="purchaseReason">您為何購買本產品?</label>
		<div id="purchaseReasonDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchaseReasonTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="purchaseReason" class="contactusField fieldInput fieldSelect" name="why_buy" alt="Please select an option">
				<option value="">請選擇一個答案</option>
				<option value="Appealing">吸引人的標籤和包裝</option>
				<option value="BuyList">於報章雜誌或告示牌看到廣告</option>
				<option value="CAUSE">因認同而支持品牌</option>
				<option value="EVENT-TR">於活動中試飲過</option>
				<option value="RECOFrFam">朋友或家人推薦該產品</option>
				<option value="Goodvalue">該產品物有所值</option>
				<option value="LabelDes">吸引人的說明和酒評</option>
				<option value="AdvMag">看到雜誌推薦或必買清單推薦</option>
				<option value="MIR-CPN">有折價券、折扣或促銷價</option>
				<option value="On Display">該產品於店內展示</option>
				<option value="ONSALE">該產品特價中</option>
				<option value="RECORest">餐廳推薦該產品</option>
				<option value="SOCNETWORK">看到社群媒體貼文</option>
				<option value="Storedemo">該產品於店內提供試飲</option>
				<option value="RECOStore">零售商推薦該產品</option>
				<option value="AdvWeb">於線上網站看到廣告</option>
                <option value="Awards">酒評比賽獎項</option>
                <option value="Catchy Name">引人注目的名稱</option> 
                <option value="Country of Origin">原產國</option> 
                <option value="It was Gallo">因為它是 Gallo，所以嘗試一下</option> 
                <option value="Location">狀態或名號很吸引我</option> 
                <option value="Points">酒評人的評價很高</option> 
                <option value="Saw on TV">在電視上看到介紹</option> 
                <option value="Tried Socially">在社交場合喝喝看</option> 
                <option value="VarietalPref">偏好這款葡萄酒</option>
			</select>
		</div>
	</div>
	<div id="occasionWrapper" class="reasconCodeCheck row group general complaint">
		<label id="occasionLabel" class="contactusField label" for="occasion">您於那些場合使用本產品?</label>
		<div id="occasionDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt occasionTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="occasion" class="contactusField fieldInput fieldSelect" name="occasion" alt="Please select an option">
				<option value="">請選擇一個答案</option>
				<option value="DFT-HD">在家中與重要另一半用餐時</option>
				<option value="GRT-HSO">與其他朋友或家人於家中舉行晚餐派對時</option>
				<option value="WT">參加品酒會時</option>
				<option value="NIY-HH">歡聚時或晚間與朋友聚會</option>
				<option value="NIY-BA">於酒店、酒吧或私人會所</option>
				<option value="UNW-HA">獨處時－放鬆、使用電腦、閱讀等</option>
				<option value="GTGV-OSO">戶外場合－野餐、海灘、後院派對</option>
				<option value="GRT-RSO">在餐廳與重要另一半用餐時</option>
                <option value="NIY-FH">在朋友家中</option> 
                <option value="ETM-HS">在家和友人聚會</option> 
                <option value="GRT-RSO">餐廳特別場合</option>
                <option value="NC">未消費</option> 
			</select>
		</div>
	</div>
	<div id="servingMethodWrapper" class="reasconCodeCheck row group general complaint">
		<label id="servingMethodLabel" class="contactusField label" for="servingMethod">當時的侍酒方式?</label>
		<div id="servingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt servingMethodTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="servingMethod" class="contactusField fieldInput fieldSelect" name="how_served" alt="Please select an option">
				<option value="">請選擇一個答案</option>
				<option value="JUICE">與微酒精飲品混和</option>
				<option value="ICE B">冰桶</option>
				<option value="COOK">混合食材烹調</option>
				<option value="SODA TONIC">添加梳打水或湯力</option>
				<option value="DIDNOTSRV">尚未侍酒</option>
				<option value="ROOM">室溫</option>
				<option value="OVERICE">加入冰塊</option>
				<option value="REFER">冷藏或電子冰桶</option>
                <option value="COLA">添加可樂</option> 
                <option value="MIXEDWITH">添加其他酒精飲料</option> 
                <option value="COFFEE">加入咖啡中</option> 
                <option value="FROZEN">侍酒時是冷凍狀態</option> 
                <option value="WARM">已暖酒</option>
			</select>
		</div>
	</div>
	<div id="futurePurchaseWrapper" class="reasconCodeCheck row group general complaint">
		<label id="futurePurchaseLabel" class="contactusField label" for="futurePurchase">您是否計畫再次購買此產品?</label>
		<div id="futurePurchaseDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt futurePurchaseTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="futurePurchase" class="contactusField fieldInput fieldSelect" name="buy_again" alt="Please select an option">
				<option value="">請選擇一個答案</option>
				<option value="Y">當然，一定會再次購買</option>
				<option value="W">將來也許會購買</option>
				<option value="U">尚未決定</option>
				<option value="P">將來可能不會購買</option>
				<option value="N">不，絕對不會再買</option>
			</select>
		</div>
	</div>
	<div id="issueOccurrenceWrapper" class="reasconCodeCheck row group complaint">
		<label id="issueOccurrenceLabel" class="contactusField label" for="issueOccurrence">您初次發現問題是何時?</label>
		<div id="issueOccurrenceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt issueOccurrenceTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="issueOccurrence" class="contactusField fieldInput fieldSelect"  name="when_notice" alt="Please select an option">
				<option value="">請選擇一個答案</option>
				<option value="Tapopen">當拆除箔片或保護膜時</option>
				<option value="Screwcapopen">當移除瓶蓋時</option>
				<option value="Corkopen">開瓶或開罐的過程中</option>
				<option value="First">飲用第一杯時</option>
				<option value="Second">飲用第二杯時</option>
				<option value="Last">最後一杯時</option>
				<option value="Empty">在瓶子空了之後</option>
				<option value="Sniu">尚未開瓶就已發現</option>
                <option value="Midbottle">半瓶時</option> 
                <option value="Firstsip">開瓶後的第一口</option> 
                <option value="Osniu">已開瓶、存放但未使用</option> 
                <option value="Shelf">店內架上的產品</option> 
			</select>
		</div>
	</div>
	<div id="storageLocationWrapper" class="reasconCodeCheck row group complaint">
		<label id="storageLocationLabel" class="contactusField label" for="storageLocation">在侍酒之前，產品存放於何處?</label>
		<div id="storageLocationDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt storageLocationTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="storageLocation" class="contactusField fieldInput fieldSelect" name="where_stored"  alt="Please select an option">
				<option value="">請選擇一個答案</option>
				<option value="Countertop">檯面或置放於架上</option>
				<option value="Cupboard">在室溫下的櫥櫃或儲藏室</option>
				<option value="Refrigerator">冰箱</option>
				<option value="Cellar">酒窖或地下室</option>
                <option value="Rack">酒架</option> 
				<option value="Chiller">電子冰桶</option>
				<option value="Sdns">購買當天即飲用，尚未儲存超過 24 小時。 </option>
			</select>
		</div>
	</div>
	<div id="openingMethodWrapper" class="reasconCodeCheck row group complaint">
		<label id="openingMethodLabel" class="contactusField label" for="openingMethod">您使用何種開瓶器?</label>
		<div id="openingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt openingMethodTxt group"><span class="selectedTxt">請選擇一個答案</span><span class="arrowDown"></span></div>
			<select id="openingMethod" class="contactusField fieldInput fieldSelect" name="what_opener" alt="Please select an option">
				<option value="">請選擇一個答案</option>
				<option value="T">T 型</option>
				<option value="Waiter">酒保型開酒器</option>
				<option value="Wing">蝶形開瓶器</option>
				<option value="Boot">酒刀</option>
				<option value="Speed">快速開瓶器</option>
				<option value="Double Helix">Double Helix</option>
				<option value="Ncs">無瓶蓋或龍頭裝</option>
				<option value="Other Opener">其他</option>
			</select>
		</div>
	</div>
	<div id="commentsHeaderWrapper" class="reasconCodeCheck row group general complaint casefollowup"><strong>意見</strong></div>
	<div id="userCommentWrapper" class="reasconCodeCheck row general complaint casefollowup">
		<label id="userCommentLabel" class="contactusField label" for="comments">請於下方分享您的意見:<span class="required">*</span></label>
		<textarea id="userComment" class="contactusField fieldInput fieldTextArea" name="comments" data-parsley-required="true" data-parsley-trigger="keyup" maxlength="750" data-parsley-maxlength="750" data-parsley-maxlength-message="750 character limit" data-parsley-required-message="意見是 必填欄位"></textarea>
	</div>
	<div id="moreInfoIntlWrapper" class="row group checkCountry CAN INT yes-check">
		<input id="moreInfoIntl" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y" />
		<label id="moreInfoIntlLabel" class="contactusField label" for="moreInfoIntl">
			是的，我想要收到來自 {{brand_name}} 不定期的促銷、特價和其他資訊。另外，我同意於美國或英國傳輸與儲存我於此網站提供的資料，並根據 {{brand_name}} <a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">隱私權政策</a>加以處理。
		</label>
	</div>
	<div id="userOpinionWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="userOpinion" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_opinion" value="Y"/>
		<label id="userOpinionLabel" class="contactusField label" for="userOpinion">是的，我願意分享有關產品或未來包裝變更的意見。</label>
	</div>
	<div id="moreInfoWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="moreInfo" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y"/>
		<label id="moreInfoLabel" class="contactusField label" for="moreInfo">是的，我想要收到來自 {{brand_name}} 的聯絡和其他資訊。</label>
	</div>
	<div id="userContactWrapper" class="reasconCodeCheck row group general complaint no-check">
		<input id="userContact" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="no_contact" value="Y">
		<label id="userContactLabel" class="contactusField label" for="userContact">不願意。未來請不要與我聯絡。</label>
	</div>
    
    <div id="bottom-text">
        <p>「經由提供此資訊，我完全了解並同意將我的個人資訊傳送至其他國家（包括美國、英國、加拿大和其他位於歐洲經濟區內部和外部的國家），如<a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">隱私權政策</a>所規範。」</p>
    </div>

	<div id="submitBtnWrapper" class="reasconCodeCheck general complaint casefollowup"><input id="submit" class="fieldInput" type="submit" value="提交"/></div>

	<div id="formRequirementsWrapper" class="reasconCodeCheck general complaint casefollowup">
		<p><span class="required">*</span>必填欄位 &nbsp;</p>
		<p><span class="required">**</span>請確認您已年滿存取本網站國家所規定的合法飲酒年齡。</p>
	</div>
</form>
