<h1>お問い合わせ</h1>
<div id="formHeaderWrapper" class="formHeaderWrapper row group">
	<div id="formHeaderText" class="forHeaderChild">
		<p>
            {{brand_name}}
		</p>
	</div>
</div>
<form name="contactUsIntlForm-JP" id="contactUsForm" class="form desktop">
	<input type="hidden" name="brand_code" value="{{brand_code}}" />
    <input type="hidden" name="form_lang" value="JP" />
    <input type="hidden" name="verify" value="0" />
    
    <input type="hidden" name="successTxt" value="Contact Us was successfully submitted" />
    <input type="hidden" name="thankyouTxt" value="Thank You!" />
    <input type="hidden" name="closeTxt" value="Click anywhere to close." />

	<div class="aboutMeWrapper contactusField" style="display: none;">
		<!-- TODO: Add honey pot algorithm logic -->
		<input class="textField" id="" name="">
		<input class="textField" id="" name="">
		<input class="textField" value="good" id="" name="">
	</div>
	<div id="reasonCodeWrapper" class="row group">
		<label id="reasonCodeLabel" class="contactusField label" for="reasonCode">メッセージ内容:<span class="required">*</span></label>
		<div id="reasonCodeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt reasonCodeTxt group"><span class="selectedTxt">Enquête / Expéditeur</span><span class="arrowDown"></span></div>
			<select id="reasonCode" class="contactusField fieldInput fieldSelect" name="nature" alt="Please select an option" data-parsley-required="true" data-parsley-required-message="Descripción del mensaje Requerido" data-parsley-trigger="change">
				<option value="Praise-Comment-Inquiry">Praise / Comment / Inquiry</option>
				<option value="Complaint">Complaint</option>
				<option value="Case Follow Up">Case Follow Up</option>
			</select>
		</div>
	</div>
	<div id="firstNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="firstNameLabel" class="contactusField label" for="first_name">ファーストネーム:<span class="required">*</span></label>
    	<input id="firstName" class="contactusField fieldInput" name="first_name" type="text" data-parsley-maxlength="25" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-required-message="First Name Required" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="lastNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
    	<label id="lastNameLabel" class="contactusField label" for="last_name">姓:<span class="required">*</span></label>
    	<input id="lastName" class="contactusField fieldInput" name="last_name" type="text" data-parsley-trigger="keyup" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-maxlength="25" data-parsley-required-message="Last Name Required" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="dobWrapper" class="row">
        <input type="hidden" name="dob" value="" />
		<label id="dobLabel" class="contactusField label" for="dob">Date of Birth:<span class="required">**</span></label>
        <div id="dobDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
            <div class="dropdownTxt dobTxt group"><span class="selectedTxt">Month</span><span class="arrowDown"></span></div>
            <select id="dobMonth" class="contactusField fieldInput fieldSelect" alt="Please select an option" data-parsley-required="true" data-parsley-required-message="Date of Birth Required." data-parsley-trigger="change">
                <option value="" selected>Month</option>
                <option value="01">January</option>
                <option value="02">Feburary</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <input id="dobDay" class="contactusField fieldInput" type="text" data-parsley-length="[1, 2]" placeholder="DD" data-parsley-pattern="/^(?:([1-9]|[12][0-9]|3[01]))$/" data-parsley-required-message="Date of Birth Required" data-parsley-trigger="keyup" data-parsley-required="true" />
        <input id="dobYear" class="newsletterField fieldInput" type="text" placeholder="YYYY" data-parsley-pattern="/^(?:(19|20)[0-9]{2})$/" data-parsley-required-message="Date of Birth Required" data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="emailWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="emailLabel" class="contactusField label" for="email">メール:<span class="required">*</span></label>
    	<input id="email" class="contactusField fieldInput" name="email" type="email" data-parsley-trigger="change" data-parsley-type="email" data-parsley-required-message="E-Mail Address Required" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="countryWrapper" class="reasconCodeCheck row group general complaint">
		<label id="countryLabel" class="contactusField label" for="country">国:<span class="required">*</span></label>
		<div id="countryDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt countryTxt group"><span class="selectedTxt">United States of America</span><span class="arrowDown"></span></div>
			<select id="country" class="contactusField fieldInput fieldSelect" name="country" data-parsley-required="true" data-parsley-required-message="Country Required" data-parsley-trigger="change">
				<option value="USA" selected="selected">United States of America</option>
				<option value="CAN">Canada</option>
				<option value="AFG">Afghanistan</option>
				<option value="ALB">Albania</option>
				<option value="DZA">Algeria</option>
				<option value="AND">Andorra</option>
				<option value="AGO">Angola</option>
				<option value="AIA">Anguilla</option>
				<option value="ATA">Antarctica</option>
				<option value="ATG">Antigua And Barbuda</option>
				<option value="ARG">Argentina</option>
				<option value="ARM">Armenia</option>
				<option value="ABW">Aruba</option>
				<option value="AUS">Australia</option>
				<option value="AUT">Austria</option>
				<option value="AZE">Azerbaijan</option>
				<option value="BHS">Bahamas</option>
				<option value="BHR">Bahrain</option>
				<option value="BGD">Bangladesh</option>
				<option value="BRB">Barbados</option>
				<option value="BLR">Belarus</option>
				<option value="BEL">Belgium</option>
				<option value="BLZ">Belize</option>
				<option value="BEN">Benin</option>
				<option value="BMU">Bermuda</option>
				<option value="BTN">Bhutan</option>
				<option value="BOL">Bolivia</option>
				<option value="BIH">Bosnia And Herzegowina</option>
				<option value="BWA">Botswana</option>
				<option value="BVT">Bouvet Island</option>
				<option value="BRA">Brazil</option>
				<option value="IOT">British Indian Ocean Territory</option>
				<option value="BRN">Brunei Darussalam</option>
				<option value="BGR">Bulgaria</option>
				<option value="BFA">Burkina Faso</option>
				<option value="BDI">Burundi</option>
				<option value="KHM">Cambodia</option>
				<option value="CMR">Cameroon</option>
				<option value="CPV">Cape Verde</option>
				<option value="CYM">Cayman Islands</option>
				<option value="CAF">Central African Republic</option>
				<option value="TCD">Chad</option>
				<option value="CHL">Chile</option>
				<option value="CHN">China</option>
				<option value="CXR">Christmas Island</option>
				<option value="CCK">Cocos (Keeling) Islands</option>
				<option value="COL">Colombia</option>
				<option value="COM">Comoros</option>
				<option value="COG">Congo</option>
				<option value="COK">Cook Islands</option>
				<option value="CRI">Costa Rica</option>
				<option value="CIV">Cote D"Ivoire</option>
				<option value="HRV">Croatia</option>
				<option value="CUB">Cuba</option>
				<option value="CYP">Cyprus</option>
				<option value="CZE">Czech Republic</option>
				<option value="DNK">Denmark</option>
				<option value="DJI">Djibouti</option>
				<option value="DMA">Dominica</option>
				<option value="DOM">Dominican Republic</option>
				<option value="TMP">East Timor</option>
				<option value="ECU">Ecuador</option>
				<option value="EGY">Egypt</option>
				<option value="SLV">El Salvador</option>
				<option value="GNQ">Equatorial Guinea</option>
				<option value="ERI">Eritrea</option>
				<option value="EST">Estonia</option>
				<option value="ETH">Ethiopia</option>
				<option value="FLK">Falkland Islands (Malvinas)</option>
				<option value="FRO">Faroe Islands</option>
				<option value="FJI">Fiji</option>
				<option value="FIN">Finland</option>
				<option value="FRA">France</option>
				<option value="FXX">France</option>
				<option value="GUF">French Guiana</option>
				<option value="PYF">French Polynesia</option>
				<option value="ATF">French Southern Territories</option>
				<option value="GAB">Gabon</option>
				<option value="GMB">Gambia</option>
				<option value="GEO">Georgia</option>
				<option value="DEU">Germany</option>
				<option value="GHA">Ghana</option>
				<option value="GIB">Gibraltar</option>
				<option value="GRC">Greece</option>
				<option value="GRL">Greenland</option>
				<option value="GRD">Grenada</option>
				<option value="GLP">Guadeloupe</option>
				<option value="GUM">Guam</option>
				<option value="GTM">Guatemala</option>
				<option value="GIN">Guinea</option>
				<option value="GNB">Guinea-Bissau</option>
				<option value="GUY">Guyana</option>
				<option value="HTI">Haiti</option>
				<option value="HOL">Holland</option>
				<option value="HMD">Heard And Mc Donald Islands</option>
				<option value="HND">Honduras</option>
				<option value="HKG">Hong Kong</option>
				<option value="HUN">Hungary</option>
				<option value="ISL">Iceland</option>
				<option value="IND">India</option>
				<option value="IDN">Indonesia</option>
				<option value="IRN">Iran (Islamic Republic Of)</option>
				<option value="IRQ">Iraq</option>
				<option value="IRL">Ireland</option>
				<option value="ISR">Israel</option>
				<option value="ITA">Italy</option>
				<option value="JAM">Jamaica</option>
				<option value="JPN">Japan</option>
				<option value="JOR">Jordan</option>
				<option value="KAZ">Kazakhstan</option>
				<option value="KEN">Kenya</option>
				<option value="KIR">Kiribati</option>
				<option value="PRK">Korea</option>
				<option value="KOR">Korea</option>
				<option value="KWT">Kuwait</option>
				<option value="KGZ">Kyrgyzstan</option>
				<option value="LAO">Lao People's Democratic Republic</option>
				<option value="LVA">Latvia</option>
				<option value="LBN">Lebanon</option>
				<option value="LSO">Lesotho</option>
				<option value="LBR">Liberia</option>
				<option value="LBY">Libyan Arab Jamahiriya</option>
				<option value="LIE">Liechtenstein</option>
				<option value="LTU">Lithuania</option>
				<option value="LUX">Luxembourg</option>
				<option value="MAC">Macau</option>
				<option value="MKD">Macedonia</option>
				<option value="MDG">Madagascar</option>
				<option value="MWI">Malawi</option>
				<option value="MYS">Malaysia</option>
				<option value="MDV">Maldives</option>
				<option value="MLI">Mali</option>
				<option value="MLT">Malta</option>
				<option value="MHL">Marshall Islands</option>
				<option value="MTQ">Martinique</option>
				<option value="MRT">Mauritania</option>
				<option value="MUS">Mauritius</option>
				<option value="MYT">Mayotte</option>
				<option value="MEX">Mexico</option>
				<option value="FSM">Micronesia</option>
				<option value="MDA">Moldova</option>
				<option value="MCO">Monaco</option>
				<option value="MNG">Mongolia</option>
				<option value="MSR">Montserrat</option>
				<option value="MAR">Morocco</option>
				<option value="MOZ">Mozambique</option>
				<option value="MMR">Myanmar</option>
				<option value="NAM">Namibia</option>
				<option value="NRU">Nauru</option>
				<option value="NPL">Nepal</option>
				<option value="NLD">Netherlands</option>
				<option value="ANT">Netherlands Antilles</option>
				<option value="NCL">New Caledonia</option>
				<option value="NZL">New Zealand</option>
				<option value="NIC">Nicaragua</option>
				<option value="NER">Niger</option>
				<option value="NGA">Nigeria</option>
				<option value="NIU">Niue</option>
				<option value="NFK">Norfolk Island</option>
				<option value="MNP">Northern Mariana Islands</option>
				<option value="NOR">Norway</option>
				<option value="OMN">Oman</option>
				<option value="PAK">Pakistan</option>
				<option value="PLW">Palau</option>
				<option value="PAN">Panama</option>
				<option value="PNG">Papua New Guinea</option>
				<option value="PRY">Paraguay</option>
				<option value="PER">Peru</option>
				<option value="PHL">Philippines</option>
				<option value="PCN">Pitcairn</option>
				<option value="POL">Poland</option>
				<option value="PRT">Portugal</option>
				<option value="PRI">Puerto Rico</option>
				<option value="QAT">Qatar</option>
				<option value="REU">Reunion</option>
				<option value="ROM">Romania</option>
				<option value="RUS">Russian Federation</option>
				<option value="RWA">Rwanda</option>
				<option value="KNA">Saint Kitts And Nevis</option>
				<option value="LCA">Saint Lucia</option>
				<option value="VCT">Saint Vincent And The Grenadines</option>
				<option value="WSM">Samoa</option>
				<option value="SMR">San Marino</option>
				<option value="STP">Sao Tome And Principe</option>
				<option value="SAU">Saudi Arabia</option>
				<option value="SEN">Senegal</option>
				<option value="SYC">Seychelles</option>
				<option value="SLE">Sierra Leonev</option>
				<option value="SGP">Singapore</option>
				<option value="SVK">Slovakia (Slovak Republic)</option>
				<option value="SVN">Slovenia</option>
				<option value="SLB">Solomon Islands</option>
				<option value="SOM">Somalia</option>
				<option value="ZAF">South Africa</option>
				<option value="SGS">South Georgia And The S. Sandwich Is.</option>
				<option value="ESP">Spain</option>
				<option value="LKA">Sri Lanka</option>
				<option value="SHN">St. Helena</option>
				<option value="SPM">St. Pierre And Miquelon</option>
				<option value="SDN">Sudan</option>
				<option value="SUR">Suriname</option>
				<option value="SJM">Svalbard And Jan Mayen Islands</option>
				<option value="SWZ">Swaziland</option>
				<option value="SWE">Sweden</option>
				<option value="CHE">Switzerland</option>
				<option value="SYR">Syrian Arab Republic</option>
				<option value="TWN">Taiwan</option>
				<option value="TJK">Tajikistan</option>
				<option value="TZA">Tanzania</option>
				<option value="THA">Thailand</option>
				<option value="TGO">Togo</option>
				<option value="TKL">Tokelau</option>
				<option value="TON">Tonga</option>
				<option value="TOR">Tortola</option>
				<option value="TTO">Trinidad And Tobago</option>
				<option value="TUN">Tunisia</option>
				<option value="TUR">Turkey</option>
				<option value="TKM">Turkmenistan</option>
				<option value="TCA">Turks And Caicos Islands</option>
				<option value="TUV">Tuvalu</option>
				<option value="UGA">Uganda</option>
				<option value="UKR">Ukraine</option>
				<option value="ARE">United Arab Emirates</option>
				<option value="GBR">United Kingdom</option>
				<option value="UMI">United States Minor Outlying Islands</option>
				<option value="URY">Uruguay</option>
				<option value="UZB">Uzbekistan</option>
				<option value="VUT">Vanuatu</option>
				<option value="VAT">Vatican City State (Holy See)</option>
				<option value="VEN">Venezuela</option>
				<option value="VNM">Viet Nam</option>
				<option value="VGB">Virgin Islands (British)</option>
				<option value="VIR">Virgin Islands (U.S.)</option>
				<option value="WLF">Wallis And Futuna Islands</option>
				<option value="ESH">Western Sahara</option>
				<option value="WIN">West Indies</option>
				<option value="YEM">Yemen</option>
				<option value="YUG">Yugoslavia</option>
				<option value="ZAR">Zaire</option>
				<option value="ZMB">Zambia</option>
				<option value="ZWE">Zimbabwe</option>
			</select>
		</div>
	</div>
	<div id="addressWrapper" class="reasconCodeCheck row group general complaint">
		<label id="addressLabel" class="contactusField label" for="address">住所:</label>
		<input id="address" type="text" class="contactusField fieldInput" name="address" />
	</div>
	<div id="cityWrapper" class="reasconCodeCheck row group general complaint">
		<label id="cityLabel" class="contactusField label" for="city">市:</label>
		<input id="city" type="text" class="contactusField fieldInput" name="city" />
	</div>
	<div id="stateWrapper" class="reasconCodeCheck row group checkCountry USA general complaint">
		<label id="stateLabel" class="contactusField label" for="state">州:</label>
		<div id="stateDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt stateTxt group"><span class="selectedTxt">Choose a State</span><span class="arrowDown"></span></div>
			<select id="state" class="contactusField fieldInput fieldSelect" name="state">
				<option value="">Choose a State</option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DC">D.C.</option>
				<option value="DE">Delaware</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="kS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="Ri">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
		</div>
	</div>
	<div id="provinceWrapper" class="row group checkCountry CAN">
		<label id="provinceLabel" class="contactusField label" for="state">カナダ州:</label>
		<div id="provinceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt provinceTxt group"><span class="selectedTxt">Choose a Province</span><span class="arrowDown"></span></div>
			<select id="province" class="contactusField fieldInput fieldSelect" name="state" >
				<option value="">Choose a Province</option>
				<option value="AB">Alberta</option>
				<option value="BC">British Columbia</option>
				<option value="MB">Manitoba</option>
				<option value="NB">New Brunswick</option>
				<option value="NL">NewFoundland and Labrador</option>
				<option value="NT">Northwest Territories</option>
				<option value="NS">Nova Scotia</option>
				<option value="NU">Nunavut</option>
				<option value="OT">Ontario</option>
				<option value="PE">Prince Edward Island</option>
				<option value="QC">Quebec</option>
				<option value="SK">Saskatchewan</option>
				<option value="YT">Yukon</option>
			</select>
		</div>
	</div>
	<div id="zipWrapper" class="reasconCodeCheck row group general complaint">
		<label id="zipLabel" class="contactusField label" for="zip">郵便番号:<span class="required">*</span></label>
    	<input id="zip" class="contactusField fieldInput" name="zip" type="text" data-parsleyLength="[5, 20]" data-parsley-required-message="Zip Code Required" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="phoneWrapper" class="reasconCodeCheck row group general complaint casefollowup" >
		<label id="phoneLabel" class="contactusField label" for="phone">電話番号:</label>
    	<input id="phone" class="contactusField fieldInput" name="phone" type="text" />
    </div>
	<div id="userCommentWrapper" class="reasconCodeCheck row general complaint casefollowup">
		<label id="userCommentLabel" class="contactusField label" for="comments">コメント:<span class="required">*</span></label>
		<textarea id="userComment" class="contactusField fieldInput fieldTextArea" name="comments" data-parsley-required="true" data-parsley-trigger="keyup" maxlength="750" data-parsley-maxlength="750" data-parsley-maxlength-message="750 character limit" data-parsley-required-message="Comment Required"></textarea>
	</div>
<div id="moreInfoIntlWrapper" class="row group checkCountry CAN INT yes-check">
		<input id="moreInfoIntl" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y" />
		<label id="moreInfoIntlLabel" class="contactusField label" for="moreInfoIntl">
			はい、私はプロモーション、オファーやから、他の情報については時折通信を受信したいと思います {{brand_name}}. 
            さらに、私は米国や英国では、このウェブサイトおよびに従い、そのような情報の治療に提供するデータのへの送信および保管することに同意 {{brand_name}} <a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">個人情報保護方針</a>.
		</label>
	</div>
	<div id="userOpinionWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="userOpinion" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_opinion" value="Y"/>
		<label id="userOpinionLabel" class="contactusField label" for="userOpinion">はい、私はそこには、将来の任意でなければなりません、私の考えについては、製品やパッケージの変更を共有するつもりだ</label>
	</div>
	<div id="moreInfoWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="moreInfo" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y"/>
		<label id="moreInfoLabel" class="contactusField label" for="moreInfo">はい、私は任意の今後の通知を希望される将来的にあなたの製品に関するプロモーションやサービス</label>
	</div>
	<div id="userContactWrapper" class="reasconCodeCheck row group general complaint no-check">
		<input id="userContact" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="no_contact" value="Y">
		<label id="userContactLabel" class="contactusField label" for="userContact">いや、将来的には私に連絡しないでください</label>
	</div>
    
	<div id="followUpCaseWrapper" class="reasconCodeCheck row casefollowup group">
		<p>このフォームが既存のコンタクトのフォローアップである場合は、弊社の 消費者リレーションズチームに割り当てられたケース番号をお書きくださ い </p>
		<div>
			<label id="followUpCaseLabel" class="contactusField label" for="caseNumber">ケース #:</label>
			<input id="followUpCase" class="contactusField fieldInput" type="text" name="case_id" value="" data-parsley-type="alphanum" data-parsley-trigger="keyup" data-parsley-required-message="# Caso Requiredo" data-parsley-required="true">
		</div>
	</div>

	<div id="submitBtnWrapper" class="reasconCodeCheck general complaint casefollowup"><input id="submit" class="fieldInput" type="submit" value="Submit"/></div>

	<div id="formRequirementsWrapper" class="reasconCodeCheck general complaint casefollowup">
		<p><span class="required">*</span>必須のフィールド &nbsp;</p>
	</div>
</form>