<h1>문의하기</h1>
<div id="formHeaderWrapper" class="formHeaderWrapper row group">
	<div id="formHeaderText" class="forHeaderChild">
		<p>
			{{brand_name}} 웹 사이트에 관심을 가져 주셔서 감사합니다. 저희는 여러분의 의견을 소중히 생각합니다. 잠시 시간을 내어 다음 정보를 제공해 주시면 감사하겠습니다. 추가 지원이 필요할 경우, 월요일부터 금요일까지는 오전 8시 - 오후 5시, 토요일은 오전 9시 - 오후 3시(태평양 표준시)까지 <a class="mobile" href="tel: +{{phone}}">+{{phone}}</a> 에 전화해 주십시오.
		</p>
	</div>
	<div id="formHeaderWinefinder" class="forHeaderChild desktop">마음에 드는 것을 못 찾으셨습니까? 저희 <a href="{{winefinder}}">와인 파인더</a>를 확인해 보세요. </div>
	<div id="formHeaderPrivacypolicy" class="forHeaderChild desktop"><a href="{{privacy_policy}}" target="_window">귀하의 정보 이용에 대해 자세히 알아보기</a>.</div>
</div>
<form name="contactUsIntlForm-KR" id="contactUsForm" class="form desktop">
	<input type="hidden" name="brand_code" value="{{brand_code}}" />
    <input type="hidden" name="form_lang" value="KR" />
    <input type="hidden" name="verify" value="0" />
    
    <input type="hidden" name="phoneLanguage" value="전화번호 필수" />
    <input type="hidden" name="phoneTypeLanguage" value="전화 종류 필수" />

    <input type="hidden" name="successTxt" value="연락처가 성공적으로 제출되었습니다" />
    <input type="hidden" name="thankyouTxt" value="감사합니다!" />
    <input type="hidden" name="closeTxt" value="닫으시려면 아무 곳이나 클릭하세요." />
    
	<div class="aboutMeWrapper contactusField" style="display: none;">
		<!-- TODO: Add honey pot algorithm logic -->
		<input class="textField" id="" name="">
		<input class="textField" id="" name="">
		<input class="textField" value="good" id="" name="">
	</div>

	<div id="reasonCodeWrapper" class="row group">
		<label id="reasonCodeLabel" class="contactusField label" for="reasonCode">귀하의 메시지는 어떤 종류입니까?:<span class="required">*</span></label>
		<div id="reasonCodeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt reasonCodeTxt group"><span class="selectedTxt">하나를 선택하세요</span><span class="arrowDown"></span></div>
			<select id="reasonCode" class="contactusField fieldInput fieldSelect" name="nature" alt="Please select an option" data-parsley-required="true" data-parsley-required-message="하나를 선택하세요 필수 필드" data-parsley-trigger="change">
				<option value="">하나를 선택하세요</option>
				<option value="Praise-Comment-Inquiry">제제 칭칭, 여의 또저 질질</option>
				<option value="Complaint">제제 불불사불</option>
				<option value="Case Follow Up">현현 케사케 추추</option>
			</select>
		</div>
	</div>

	<div id="followUpCaseWrapper" class="reasconCodeCheck row casefollowup group">
		<p>기존 연락에 대한 추가 연락일 경우 소비자관계 팀에서 여러분에게 지급한 케이스 번호를 제공해 주십시오.</p>
		<div>
			<label id="followUpCaseLabel" class="contactusField label" for="caseNumber">케이스 ID#<span class="required">*</span></label>
			<input id="followUpCase" class="contactusField fieldInput" type="text" name="case_id" value="" data-parsley-required="true" data-parsley-required-message="케이스 ID# 필수 필드" data-parsley-required="true" data-parsley-type="alphanum" data-parsley-trigger="keyup">
		</div>
	</div>

	<div id="contactInfoText" class="contactusField reasconCodeCheck row general complaint"><strong>연락처 정보</strong></div>

	<div id="firstNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="firstNameLabel" class="contactusField label" for="first_name">이름:<span class="required">*</span></label>
    	<input id="firstName" class="contactusField fieldInput" name="first_name" type="text" data-parsley-maxlength="25" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-required-message="이름 필수 필드" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="lastNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
    	<label id="lastNameLabel" class="contactusField label" for="last_name">성:<span class="required">*</span></label>
    	<input id="lastName" class="contactusField fieldInput" name="last_name" type="text" data-parsley-trigger="keyup" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-maxlength="25" data-parsley-required-message="성 필수 필드" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="genderWrapper" class="reasconCodeCheck row group general complaint">
		<label id="genderLabel" class="contactusField label" for="gender">성별:<span class="required">*</span></label>
		<div id="genderDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt genderTxt group"><span class="selectedTxt">성별</span><span class="arrowDown"></span></div>
			<select id="gender" class="contactusField fieldInput fieldSelect" name="gender" data-parsley-required="true" data-parsley-required-message="성별 필수 필드" data-parsley-trigger="change">
				<option value="">성별</option>
				<option value="M">남</option>
				<option value="F">여</option>
				<option value="UNK">상태로 하락</option>
			</select>
		</div>
	</div>
	<div id="dobWrapper" class="reasconCodeCheck row group general complaint">
        <input type="hidden" name="dob" value="" />
		<label id="dobLabel" class="contactusField label" for="dobMonth">생년월일:<span class="required">**</span></label>
        <div id="dobDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
            <div class="dropdownTxt dobTxt group"><span class="selectedTxt">월</span><span class="arrowDown"></span></div>
            <select id="dobMonth" class="contactusField fieldInput fieldSelect" alt="Please select an option" data-parsley-required="true" data-parsley-required-message="생년월일 필수 필드" data-parsley-trigger="change">
                <option value="" selected>월</option>
                <option value="01">1월</option>
                <option value="02">2월</option>
                <option value="03">3월</option>
                <option value="04">4월</option>
                <option value="05">5월</option>
                <option value="06">6월</option>
                <option value="07">7월</option>
                <option value="08">8월</option>
                <option value="09">9월</option>
                <option value="10">10월</option>
                <option value="11">11월</option>
                <option value="12">12월</option>
            </select>
        </div>
        <input id="dobDay" class="contactusField fieldInput" type="text" data-parsley-length="[1, 2]" placeholder="DD" data-parsley-pattern="/^(?:([1-9]|[12][0-9]|3[01]))$/" data-parsley-required-message="필수 필드" data-parsley-trigger="keyup" data-parsley-required="true" />
        <input id="dobYear" class="contactusField fieldInput" type="text" placeholder="YYYY" data-parsley-pattern="/^(?:(19|20)[0-9]{2})$/" data-parsley-required-message="필수 필드" data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="emailWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="emailLabel" class="contactusField label" for="email">이메일:<span class="required">*</span></label>
    	<input id="email" class="contactusField fieldInput" name="email" type="email" data-parsley-trigger="change" data-parsley-type="email" data-parsley-required-message="이메일 필수 필드" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="countryWrapper" class="reasconCodeCheck row group general complaint">
		<label id="countryLabel" class="contactusField label" for="country">국가:<span class="required">*</span></label>
		<div id="countryDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt countryTxt group"><span class="selectedTxt">Korea</span><span class="arrowDown"></span></div>
			<select id="country" class="contactusField fieldInput fieldSelect" name="country" data-parsley-required="true" data-parsley-required-message="Country is 필수 필드" data-parsley-trigger="change">
				<option value="USA">United States of America</option>
				<option value="CAN">Canada</option>
				<option value="AFG">Afghanistan</option>
				<option value="ALB">Albania</option>
				<option value="DZA">Algeria</option>
				<option value="AND">Andorra</option>
				<option value="AGO">Angola</option>
				<option value="AIA">Anguilla</option>
				<option value="ATA">Antarctica</option>
				<option value="ATG">Antigua And Barbuda</option>
				<option value="ARG">Argentina</option>
				<option value="ARM">Armenia</option>
				<option value="ABW">Aruba</option>
				<option value="AUS">Australia</option>
				<option value="AUT">Austria</option>
				<option value="AZE">Azerbaijan</option>
				<option value="BHS">Bahamas</option>
				<option value="BHR">Bahrain</option>
				<option value="BGD">Bangladesh</option>
				<option value="BRB">Barbados</option>
				<option value="BLR">Belarus</option>
				<option value="BEL">Belgium</option>
				<option value="BLZ">Belize</option>
				<option value="BEN">Benin</option>
				<option value="BMU">Bermuda</option>
				<option value="BTN">Bhutan</option>
				<option value="BOL">Bolivia</option>
				<option value="BIH">Bosnia And Herzegowina</option>
				<option value="BWA">Botswana</option>
				<option value="BVT">Bouvet Island</option>
				<option value="BRA">Brazil</option>
				<option value="IOT">British Indian Ocean Territory</option>
				<option value="BRN">Brunei Darussalam</option>
				<option value="BGR">Bulgaria</option>
				<option value="BFA">Burkina Faso</option>
				<option value="BDI">Burundi</option>
				<option value="KHM">Cambodia</option>
				<option value="CMR">Cameroon</option>
				<option value="CPV">Cape Verde</option>
				<option value="CYM">Cayman Islands</option>
				<option value="CAF">Central African Republic</option>
				<option value="TCD">Chad</option>
				<option value="CHL">Chile</option>
				<option value="CHN">China</option>
				<option value="CXR">Christmas Island</option>
				<option value="CCK">Cocos (Keeling) Islands</option>
				<option value="COL">Colombia</option>
				<option value="COM">Comoros</option>
				<option value="COG">Congo</option>
				<option value="COK">Cook Islands</option>
				<option value="CRI">Costa Rica</option>
				<option value="CIV">Cote D"Ivoire</option>
				<option value="HRV">Croatia</option>
				<option value="CUB">Cuba</option>
				<option value="CYP">Cyprus</option>
				<option value="CZE">Czech Republic</option>
				<option value="DNK">Denmark</option>
				<option value="DJI">Djibouti</option>
				<option value="DMA">Dominica</option>
				<option value="DOM">Dominican Republic</option>
				<option value="TMP">East Timor</option>
				<option value="ECU">Ecuador</option>
				<option value="EGY">Egypt</option>
				<option value="SLV">El Salvador</option>
				<option value="GNQ">Equatorial Guinea</option>
				<option value="ERI">Eritrea</option>
				<option value="EST">Estonia</option>
				<option value="ETH">Ethiopia</option>
				<option value="FLK">Falkland Islands (Malvinas)</option>
				<option value="FRO">Faroe Islands</option>
				<option value="FJI">Fiji</option>
				<option value="FIN">Finland</option>
				<option value="FRA">France</option>
				<option value="FXX">France</option>
				<option value="GUF">French Guiana</option>
				<option value="PYF">French Polynesia</option>
				<option value="ATF">French Southern Territories</option>
				<option value="GAB">Gabon</option>
				<option value="GMB">Gambia</option>
				<option value="GEO">Georgia</option>
				<option value="DEU">Germany</option>
				<option value="GHA">Ghana</option>
				<option value="GIB">Gibraltar</option>
				<option value="GRC">Greece</option>
				<option value="GRL">Greenland</option>
				<option value="GRD">Grenada</option>
				<option value="GLP">Guadeloupe</option>
				<option value="GUM">Guam</option>
				<option value="GTM">Guatemala</option>
				<option value="GIN">Guinea</option>
				<option value="GNB">Guinea-Bissau</option>
				<option value="GUY">Guyana</option>
				<option value="HTI">Haiti</option>
				<option value="HOL">Holland</option>
				<option value="HMD">Heard And Mc Donald Islands</option>
				<option value="HND">Honduras</option>
				<option value="HKG">Hong Kong</option>
				<option value="HUN">Hungary</option>
				<option value="ISL">Iceland</option>
				<option value="IND">India</option>
				<option value="IDN">Indonesia</option>
				<option value="IRN">Iran (Islamic Republic Of)</option>
				<option value="IRQ">Iraq</option>
				<option value="IRL">Ireland</option>
				<option value="ISR">Israel</option>
				<option value="ITA">Italy</option>
				<option value="JAM">Jamaica</option>
				<option value="JPN">Japan</option>
				<option value="JOR">Jordan</option>
				<option value="KAZ">Kazakhstan</option>
				<option value="KEN">Kenya</option>
				<option value="KIR">Kiribati</option>
				<option value="PRK">Korea</option>
				<option value="KOR"  selected="selected">Korea</option>
				<option value="KWT">Kuwait</option>
				<option value="KGZ">Kyrgyzstan</option>
				<option value="LAO">Lao People's Democratic Republic</option>
				<option value="LVA">Latvia</option>
				<option value="LBN">Lebanon</option>
				<option value="LSO">Lesotho</option>
				<option value="LBR">Liberia</option>
				<option value="LBY">Libyan Arab Jamahiriya</option>
				<option value="LIE">Liechtenstein</option>
				<option value="LTU">Lithuania</option>
				<option value="LUX">Luxembourg</option>
				<option value="MAC">Macau</option>
				<option value="MKD">Macedonia</option>
				<option value="MDG">Madagascar</option>
				<option value="MWI">Malawi</option>
				<option value="MYS">Malaysia</option>
				<option value="MDV">Maldives</option>
				<option value="MLI">Mali</option>
				<option value="MLT">Malta</option>
				<option value="MHL">Marshall Islands</option>
				<option value="MTQ">Martinique</option>
				<option value="MRT">Mauritania</option>
				<option value="MUS">Mauritius</option>
				<option value="MYT">Mayotte</option>
				<option value="MEX">Mexico</option>
				<option value="FSM">Micronesia</option>
				<option value="MDA">Moldova</option>
				<option value="MCO">Monaco</option>
				<option value="MNG">Mongolia</option>
				<option value="MSR">Montserrat</option>
				<option value="MAR">Morocco</option>
				<option value="MOZ">Mozambique</option>
				<option value="MMR">Myanmar</option>
				<option value="NAM">Namibia</option>
				<option value="NRU">Nauru</option>
				<option value="NPL">Nepal</option>
				<option value="NLD">Netherlands</option>
				<option value="ANT">Netherlands Antilles</option>
				<option value="NCL">New Caledonia</option>
				<option value="NZL">New Zealand</option>
				<option value="NIC">Nicaragua</option>
				<option value="NER">Niger</option>
				<option value="NGA">Nigeria</option>
				<option value="NIU">Niue</option>
				<option value="NFK">Norfolk Island</option>
				<option value="MNP">Northern Mariana Islands</option>
				<option value="NOR">Norway</option>
				<option value="OMN">Oman</option>
				<option value="PAK">Pakistan</option>
				<option value="PLW">Palau</option>
				<option value="PAN">Panama</option>
				<option value="PNG">Papua New Guinea</option>
				<option value="PRY">Paraguay</option>
				<option value="PER">Peru</option>
				<option value="PHL">Philippines</option>
				<option value="PCN">Pitcairn</option>
				<option value="POL">Poland</option>
				<option value="PRT">Portugal</option>
				<option value="PRI">Puerto Rico</option>
				<option value="QAT">Qatar</option>
				<option value="REU">Reunion</option>
				<option value="ROM">Romania</option>
				<option value="RUS">Russian Federation</option>
				<option value="RWA">Rwanda</option>
				<option value="KNA">Saint Kitts And Nevis</option>
				<option value="LCA">Saint Lucia</option>
				<option value="VCT">Saint Vincent And The Grenadines</option>
				<option value="WSM">Samoa</option>
				<option value="SMR">San Marino</option>
				<option value="STP">Sao Tome And Principe</option>
				<option value="SAU">Saudi Arabia</option>
				<option value="SEN">Senegal</option>
				<option value="SYC">Seychelles</option>
				<option value="SLE">Sierra Leonev</option>
				<option value="SGP">Singapore</option>
				<option value="SVK">Slovakia (Slovak Republic)</option>
				<option value="SVN">Slovenia</option>
				<option value="SLB">Solomon Islands</option>
				<option value="SOM">Somalia</option>
				<option value="ZAF">South Africa</option>
				<option value="SGS">South Georgia And The S. Sandwich Is.</option>
				<option value="ESP">Spain</option>
				<option value="LKA">Sri Lanka</option>
				<option value="SHN">St. Helena</option>
				<option value="SPM">St. Pierre And Miquelon</option>
				<option value="SDN">Sudan</option>
				<option value="SUR">Suriname</option>
				<option value="SJM">Svalbard And Jan Mayen Islands</option>
				<option value="SWZ">Swaziland</option>
				<option value="SWE">Sweden</option>
				<option value="CHE">Switzerland</option>
				<option value="SYR">Syrian Arab Republic</option>
				<option value="TWN">Taiwan</option>
				<option value="TJK">Tajikistan</option>
				<option value="TZA">Tanzania</option>
				<option value="THA">Thailand</option>
				<option value="TGO">Togo</option>
				<option value="TKL">Tokelau</option>
				<option value="TON">Tonga</option>
				<option value="TOR">Tortola</option>
				<option value="TTO">Trinidad And Tobago</option>
				<option value="TUN">Tunisia</option>
				<option value="TUR">Turkey</option>
				<option value="TKM">Turkmenistan</option>
				<option value="TCA">Turks And Caicos Islands</option>
				<option value="TUV">Tuvalu</option>
				<option value="UGA">Uganda</option>
				<option value="UKR">Ukraine</option>
				<option value="ARE">United Arab Emirates</option>
				<option value="GBR">United Kingdom</option>
				<option value="UMI">United States Minor Outlying Islands</option>
				<option value="URY">Uruguay</option>
				<option value="UZB">Uzbekistan</option>
				<option value="VUT">Vanuatu</option>
				<option value="VAT">Vatican City State (Holy See)</option>
				<option value="VEN">Venezuela</option>
				<option value="VNM">Viet Nam</option>
				<option value="VGB">Virgin Islands (British)</option>
				<option value="VIR">Virgin Islands (U.S.)</option>
				<option value="WLF">Wallis And Futuna Islands</option>
				<option value="ESH">Western Sahara</option>
				<option value="WIN">West Indies</option>
				<option value="YEM">Yemen</option>
				<option value="YUG">Yugoslavia</option>
				<option value="ZAR">Zaire</option>
				<option value="ZMB">Zambia</option>
				<option value="ZWE">Zimbabwe</option>
			</select>
		</div>
	</div>
	<div id="addressWrapper" class="reasconCodeCheck row group general complaint">
		<label id="addressLabel" class="contactusField label" for="address">주소:</label>
		<input id="address" type="text" class="contactusField fieldInput" name="address" />
	</div>
	<div id="cityWrapper" class="reasconCodeCheck row group general complaint">
		<label id="cityLabel" class="contactusField label" for="city">시:</label>
		<input id="city" type="text" class="contactusField fieldInput" name="city" />
	</div>
	<div id="stateWrapper" class="reasconCodeCheck row group checkCountry USA general complaint">
		<label id="stateLabel" class="contactusField label" for="state">도:</label>
		<div id="stateDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt stateTxt group"><span class="selectedTxt">주를 선택하세요</span><span class="arrowDown"></span></div>
			<select id="state" class="contactusField fieldInput fieldSelect" name="state">
				<option value="">주를 선택하세요</option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DC">D.C.</option>
				<option value="DE">Delaware</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="kS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="Ri">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
		</div>
	</div>
	<div id="provinceWrapper" class="row group checkCountry CAN">
		<label id="provinceLabel" class="contactusField label" for="state">지역 선택:</label>
		<div id="provinceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt provinceTxt group"><span class="selectedTxt">지역 선택</span><span class="arrowDown"></span></div>
			<select id="province" class="contactusField fieldInput fieldSelect" name="state" >
				<option value="">지역 선택</option>
				<option value="AB">Alberta</option>
				<option value="BC">British Columbia</option>
				<option value="MB">Manitoba</option>
				<option value="NB">New Brunswick</option>
				<option value="NL">NewFoundland and Labrador</option>
				<option value="NT">Northwest Territories</option>
				<option value="NS">Nova Scotia</option>
				<option value="NU">Nunavut</option>
				<option value="OT">Ontario</option>
				<option value="PE">Prince Edward Island</option>
				<option value="QC">Quebec</option>
				<option value="SK">Saskatchewan</option>
				<option value="YT">Yukon</option>
			</select>
		</div>
	</div>
	<div id="zipWrapper" class="reasconCodeCheck row group general complaint">
		<label id="zipLabel" class="contactusField label" for="zip">우편번호:<span class="required">*</span></label>
    	<input id="zip" class="contactusField fieldInput" name="zip" type="text" data-parsleyLength="[5, 20]" data-parsley-required-message="우편번호 필수 필드" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="phoneWrapper" class="reasconCodeCheck row group general complaint casefollowup" >
		<label id="phoneLabel" class="contactusField label" for="phone">전화번호:<span class="required reasconCodeCheck casefollowup complaint">*</span></label>
    	<input id="phone" class="contactusField fieldInput" name="phone" type="text" />
    	<div id="phoneTypeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt phoneTypeTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="phoneType" name="phone_type" class="fieldInput fieldSelect" >
				<option value="">하나를 고르세요</option>
				<option value="Cell">휴대폰</option>
				<option value="Home">자택 전화</option>
				<option value="Work">직장 전화</option>
			</select>
		</div>
    </div>
    <div id="prefContactMethod" class="reasconCodeCheck row group general complaint casefollowup">
    	<div id="prefContactMethodLabelWrapper"><label id="contactMethodLabel" class="contactusField label" for="phone_method">원하는 연락 방법:</label></div>
		<div id="prefContactMethodWrapper">
			<input id="prefContactEmail" class="contactusField radioField" type="radio" name="phone_method" value="Email" /><label class="radioInlineLabel contactusField label" for="prefContactEmail">이메일</label>
			<input id="prefContactPhone" class="contactusField radioField" type="radio" name="phone_method" value="Phone Number" /><label class="radioInlineLabel contactusField label" for="prefContactPhone">전화</label>
			<input id="prefContactMail" class="contactusField radioField" type="radio" name="phone_method" value="Mail" /><label class="radioInlineLabel contactusField label" for="prefContactMail">우편</label>
		</div>
    </div>
	<div id="productHeaderWrapper" class="reasconCodeCheck row group general complaint">
		<strong>세부 텍스트 보기</strong>
		<p>보다 나은 서비스를 위해 다음 질문에 답해 주세요.</p>
	</div>
	<div id="upcWrapper" class="row group reasconCodeCheck general complaint">
		<label id="upcLabel" class="contactusField label" for="upc">10자리 UPC 번호를 입력해 주십시오.</label>
		<input id="upc"  class="contactusField fieldInput" type="text" name="upc" maxlength="10" value="">
		<a href="#" id="showUPCExample">자세히 보기</a>
		<div id="upcDetailWrapper">
			<img src="/BrandSDK-v1.1/images/contactus/barcode.gif" align="Sku #" id="sku" width="168">
		</div>
	</div>
	<div id="bottleProductCodeWrapper" class="row group reasconCodeCheck complaint">
		<label id="bottleProductCodeLabel" class="contactusField label" for="bottleProductCode">충전 날짜 코드를 입력하세요</label>
		<input  id="bottleProductCode" class="contactusField fieldInput" type="text" name="product_code" value="">
		<div><a href="/BrandSDK-v1.1/images/contactus/bottleProductCodeExample.png" id="bottleProductCodeExample" target="_blank">자세히 보기</a></div>
	</div>
	<div id="purchaseDateWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseDateLabel" class="contactusField label" for="purchaseDate">이 제품을 구매한 날짜를 기억하십니까?</label>
		<input id="purchaseDate" class="contactusField fieldInput" name="purchase_date" type="text" placeholder="MM-DD-YYYY" data-parsley-pattern="/^(?:(0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])[-](19|20)[0-9]{2})$/" data-parsley-trigger="keyup" />
	</div>
	<div id="purchasePlace" class="reasconCodeCheck row group general complaint">
		<label id="purchasePlaceLabel" class="contactusField label" for="purchasePlace">제품을 어디에서 구매하셨습니까?</label>
		<div id="purchasePlaceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchasePlaceTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="purchasePlace" class="contactusField fieldInput fieldSelect" name="where_buy" alt="Please select an option">
				<option value="">하나를 고르세요</option>
				<option value="CONVENIENCE">편의점</option>
				<option value="DRUG">약국</option>
				<option value="GROCERY">슈퍼마켓</option>
				<option value="LIQUOR">주류/와인 판매점</option>
				<option value="CLUB">클럽 상점</option>
				<option value="WAREHOUSE">제조소매업자</option>
				<option value="Bx">부대 매점 또는 기지 상점</option>
				<option value="ONLINE">온라인 소매상</option>
				<option value="GIFT">선물로 받았음</option>
				<option value="RTHF">식당 또는 라운지</option>
				<option value="STATE">State Liquor Store</option>
				<option value="TASTINGRM">시음 부스, 축제 또는 행사장</option>
				<option value="Other">면세점</option>
			</select>
		</div>
	</div>
	<div id="purchaseReasonWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseReasonLabel" class="contactusField label" for="purchaseReason">이 제품을 왜 구매하셨습니까?</label>
		<div id="purchaseReasonDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchaseReasonTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="purchaseReason" class="contactusField fieldInput fieldSelect" name="why_buy" alt="Please select an option">
				<option value="">하나를 고르세요</option>
				<option value="Appealing">라벨과 포장이 눈에 띄어서</option>
				<option value="BuyList">잡지의 추천이나 알뜰구매 목록을 보고</option>
				<option value="CAUSE">좋은 일을 하는 브랜드 지지 차원에서</option>
				<option value="EVENT-TR">행사장에서 시음 하고</option>
				<option value="RECOFrFam">친구나 가족이 추천해서</option>
				<option value="Goodvalue">가격이 마음에 들어서</option>
				<option value="LabelDes">설명과 테이스팅 노트가 마음에 들어서</option>
				<option value="AdvMag">잡지/게시판 또는 신문 광고를 보고</option>
				<option value="MIR-CPN">쿠폰, 보상 또는 판촉 제공물이 있어서</option>
				<option value="On Display">상점에 디스플레이되어 있어서</option>
				<option value="ONSALE">세일 중이어서</option>
				<option value="RECORest">레스토랑이 추천해서</option>
				<option value="SOCNETWORK">소셜미디어(Facebook, Twitter, Pinterest, Instagram)에서 게시글을 보고</option>
				<option value="Storedemo">상점에 전시 중이어서</option>
				<option value="RECOStore">소매상인이 추천해서</option>
				<option value="AdvWeb">온라인에서 웹 광고를 보고</option>
			</select>
		</div>
	</div>
	<div id="occasionWrapper" class="reasconCodeCheck row group general complaint">
		<label id="occasionLabel" class="contactusField label" for="occasion">사용처는 어디입니까?</label>
		<div id="occasionDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt occasionTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="occasion" class="contactusField fieldInput fieldSelect" name="occasion" alt="Please select an option">
				<option value="">하나를 고르세요</option>
				<option value="DFT-HD">배우자와 집에서 식사 중</option>
				<option value="GRT-HSO">특별한 이벤트</option>
				<option value="ETM-HS">친구들과 저녁 식사 후 쉬면서</option>
				<option value="WT">와인 시음 행사</option>
				<option value="GRT-RD">친구/가족과 집에서 저녁 파티</option>
				<option value="NIY-HH">해피아워 또는 초저녁 친구 모임</option>
				<option value="NIY-BA">저녁 사교 활동으로 라운지나 클럽에서</option>
				<option value="UNW-HA">혼자만의 시간 - 쉬거나 컴퓨터를 하거나 독서를 하면서 등</option>
				<option value="GTGV-OSO">야외 활동 - 소풍, 해변, 정원 파티</option>
				<option value="GRT-RSO">배우자와 레스토랑에서 식사 중</option>
				<option value="MP">식사 준비 시</option>
				<option value="MWF">점심 식사 또는 브런치</option>
			</select>
		</div>
	</div>
	<div id="servingMethodWrapper" class="reasconCodeCheck row group general complaint">
		<label id="servingMethodLabel" class="contactusField label" for="servingMethod">제품은 어떻게 서빙되었습니까?</label>
		<div id="servingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt servingMethodTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="servingMethod" class="contactusField fieldInput fieldSelect" name="how_served" alt="Please select an option">
				<option value="">하나를 고르세요</option>
				<option value="JUICE">펀치음료와 섞어서</option>
				<option value="ICE B">얼음통에 담아</option>
				<option value="COOK">음식에 넣어 조리해서</option>
				<option value="SODA TONIC">탄산음료와 섞어서</option>
				<option value="DIDNOTSRV">아직 서빙되지 않았음</option>
				<option value="ROOM">실온</option>
				<option value="OVERICE">얼음에 부어서</option>
				<option value="REFER">냉장 보관 또는 와인 칠러</option>
			</select>
		</div>
	</div>
	<div id="futurePurchaseWrapper" class="reasconCodeCheck row group general complaint">
		<label id="futurePurchaseLabel" class="contactusField label" for="futurePurchase">이 제품을 다시 구매할 계획이십니까?</label>
		<div id="futurePurchaseDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt futurePurchaseTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="futurePurchase" class="contactusField fieldInput fieldSelect" name="buy_again" alt="Please select an option">
				<option value="">하나를 고르세요</option>
				<option value="Y">예, 꼭 다시 구매할 겁니다</option>
				<option value="W">나중에 다시 구매할 것 같아요</option>
				<option value="U">결정 못 했어요</option>
				<option value="P">나중에 다시 안 살 것 같아요</option>
				<option value="N">아니요, 다시는 안 살 겁니다</option>
			</select>
		</div>
	</div>
	<div id="issueOccurrenceWrapper" class="reasconCodeCheck row group complaint">
		<label id="issueOccurrenceLabel" class="contactusField label" for="issueOccurrence">문제를 처음 발견한 것은 언제입니까?</label>
		<div id="issueOccurrenceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt issueOccurrenceTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="issueOccurrence" class="contactusField fieldInput fieldSelect"  name="when_notice" alt="Please select an option">
				<option value="">하나를 고르세요</option>
				<option value="Tapopen">포일이나 캡슐을 제거하는 동안</option>
				<option value="Screwcapopen">스크루 마개를 제거하는 동안</option>
				<option value="Corkopen">코르크를 따거나 개봉하는 과정에서</option>
				<option value="First">첫 잔에서</option>
				<option value="Second">둘째 잔에서</option>
				<option value="Last">마지막 잔에서</option>
				<option value="Empty">병이 비었을 때</option>
				<option value="Sniu">병을 개봉하지 않은 채로 알았음</option>
			</select>
		</div>
	</div>
	<div id="storageLocationWrapper" class="reasconCodeCheck row group complaint">
		<label id="storageLocationLabel" class="contactusField label" for="storageLocation">제품을 서빙하기 전 어디에 보관했습니까?</label>
		<div id="storageLocationDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt storageLocationTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="storageLocation" class="contactusField fieldInput fieldSelect" name="where_stored"  alt="Please select an option">
				<option value="">하나를 고르세요</option>
				<option value="Countertop">조리대 또는 선반</option>
				<option value="Cupboard">실온의 찬장이나 식료품 저장소</option>
				<option value="Garage">외부 보관소 - 차고, 간이 차고, 저장실</option>
				<option value="Refrigerator">냉장고</option>
				<option value="Cellar">와인셀러 또는 지하</option>
				<option value="Chiller">와인 칠러</option>
				<option value="Sdns">구매한 날 사용했으므로 24시간 이내로 보관했음 </option>
			</select>
		</div>
	</div>
	<div id="openingMethodWrapper" class="reasconCodeCheck row group complaint">
		<label id="openingMethodLabel" class="contactusField label" for="openingMethod">어떤 코르크 따개를 사용했습니까?</label>
		<div id="openingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt openingMethodTxt group"><span class="selectedTxt">하나를 고르세요</span><span class="arrowDown"></span></div>
			<select id="openingMethod" class="contactusField fieldInput fieldSelect" name="what_opener" alt="Please select an option">
				<option value="">하나를 고르세요</option>
				<option value="T">T-형</option>
				<option value="Waiter">웨이터 키</option>
				<option value="Wing">윙 레버</option>
				<option value="Boot">부트 레버</option>
				<option value="Rabbit">래빗 오프너</option>
				<option value="Two Prong">아소 오프너</option>
				<option value="Speed">스피드 풀러</option>
				<option value="Double Helix">더블 헬릭스</option>
				<option value="Other Opener">기타</option>
			</select>
		</div>
	</div>
	<div id="commentsHeaderWrapper" class="reasconCodeCheck row group general complaint casefollowup"><strong>의견</strong></div>
	<div id="userCommentWrapper" class="reasconCodeCheck row general complaint casefollowup">
		<label id="userCommentLabel" class="contactusField label" for="comments">아래에 의견을 적어 주십시오.<span class="required">*</span></label>
		<textarea id="userComment" class="contactusField fieldInput fieldTextArea" name="comments" data-parsley-required="true" data-parsley-trigger="keyup" maxlength="750" data-parsley-maxlength="750" data-parsley-maxlength-message="750 character limit" data-parsley-required-message="의견 필수 필드"></textarea>
	</div>
	<div id="moreInfoIntlWrapper" class="row group checkCountry CAN INT yes-check">
		<input id="moreInfoIntl" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y" />
		<label id="moreInfoIntlLabel" class="contactusField label" for="moreInfoIntl">
			예, {{brand_name}} 로부터 판촉, 제공물 및 기타 정보에 대한 부정기적인 소식을 수신하겠습니다. 미국 또는 영국의 본 웹 사이트에서 본인이 제공하는 데이터의 전송 및 보관과 그러한 정보를
			{{brand_name}} <a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">개인정보 보호정책</a> 에 따라 처리하는 것에 대해 동의합니다.
		</label>
	</div>
	<div id="userOpinionWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="userOpinion" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_opinion" value="Y"/>
		<label id="userOpinionLabel" class="contactusField label" for="userOpinion">예, 앞으로 제품이나 포장에 변경되는 사항이 있으면 제 의견을 나누겠습니다.</label>
	</div>
	<div id="moreInfoWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="moreInfo" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y"/>
		<label id="moreInfoLabel" class="contactusField label" for="moreInfo">예, {{brand_name}} 로부터 소식과 기타 정보를 받고 싶습니다..</label>
	</div>
	<div id="userContactWrapper" class="reasconCodeCheck row group general complaint no-check">
		<input id="userContact" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="no_contact" value="Y">
		<label id="userContactLabel" class="contactusField label" for="userContact">아니요, 앞으로는 연락하지 마십시오.</label>
	</div>
	
    <div id="bottom-text">
        <p>본 정보를 제공함으로써 본인은 <a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">개인정보 보호정책</a> 에 명시된 바와 같이 본인의 개인 정보가 다른 국가(미국, 영국, 캐나다 및 유럽 경제 지역 안팎의 기타 국가)로 전송될 수 있음을 완전히 이해하고 이에 동의합니다.
    </div>

	<div id="submitBtnWrapper" class="reasconCodeCheck general complaint casefollowup"><input id="submit" class="fieldInput" type="submit" value="제출"/></div>

	<div id="formRequirementsWrapper" class="reasconCodeCheck general complaint casefollowup">
		<p><span class="required">*</span> 필수 필드 &nbsp;</p>
		<p><span class="required">**</span> 귀하가 이 사이트에 액세스하신 국가에서 법적 음주 허용 연령에 해당되는지 확인해 주십시오.</p>
	</div>
</form>