<h1>Newsletter</h1>
<div class="formHeaderText">
	<p>
	    Want the inside scoop on the latest happenings at {{brand_name}}? Sign up for our Bare it All Bulletin!
    	Every month, you'll receive exclusive access to the cool things we're up to, like local events, wine tips,
    	recipes and special offers.
	</p>
</div>
<form id="newsletterForm" class="form">
	<input type="hidden" name="brand_code" value="{{brand_code}}" />
    <input type="hidden" name="form_lang" value="EN" />
    <input type="hidden" name="source_name" value="" />
    <input type="hidden" name="verify" value="0" />
    
    <input type="hidden" name="successTxt" value="Newsletter was successfully submitted" />
    <input type="hidden" name="thankyouTxt" value="Thank You!" />
    <input type="hidden" name="closeTxt" value="Click anywhere to close." />
    
	<div id="firstNameWrapper" class="row">
	    <label id="firstnameLabel" class="newsletterField label" for="firstName">First Name:<span class="required">*</span></label>
    	<input id="firstName" class="newsletterField fieldInput" alt="First name" name="first_name" type="text" data-parsley-maxlength="25" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-required-message="First name is required." data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="lastNameWrapper" class="row">
        <label id="lastNameLabel" class="newsletterField label " for="lastName">Last Name:<span class="required">*</span></label>
    	<input id="lastName" class="newsletterField fieldInput" alt="Last name" id="last_name" name="last_name" type="text" data-parsley-trigger="keyup" data-parsley-pattern="^[A-Za-z -]+$" data-parsley-maxlength="25" data-parsley-required-message="Last name is required." data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="emailWrapper" class="row">
    	<label id="emailLabel" class="newsletterField label" for="email">Email:<span class="required">*</span></label>
    	<input id="email" class="newsletterField fieldInput" alt="Email" id="email" name="email" type="email" data-parsley-trigger="change" data-parsley-type="email" data-parsley-required-message="Email is required." data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="dobWrapper" class="row">
        <input type="hidden" name="dob" value="" />
	    <label id="dobLabel" class="newsletterField label" for="dobMonth">Date of Birth:<span class="required">**</span></label>
        <div id="dobDropDownWrapper" class="newsletterField fieldInput dropdownWrapper">
            <div class="dropdownTxt dobTxt group"><span class="selectedTxt">Month</span><span class="arrowDown"></span></div>
            <select id="dobMonth" class="newsletterField fieldInput fieldSelect" alt="Select birth month" data-parsley-required="true" data-parsley-required-message="Month is required." data-parsley-trigger="change">
                <option value="" selected>Month</option>
                <option value="01">January</option>
                <option value="02">Feburary</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <input id="dobDay" class="newsletterField fieldInput" alt="Birth day" type="text" data-parsley-length="[2, 2]" placeholder="DD" data-parsley-pattern="/^(?:(0[1-9]|[12][0-9]|3[01]))$/" data-parsley-required-message="Day is required." data-parsley-trigger="keyup" data-parsley-required="true" />
        <input id="dobYear" class="newsletterField fieldInput" alt="Birth year" type="text" placeholder="YYYY" data-parsley-pattern="/^(?:(19|20)[0-9]{2})$/" data-parsley-required-message="Year is required." data-parsley-trigger="keyup" data-parsley-required="true" />
	</div>
	<div id="zipWrapper" class="row">
		<label id="zipLabel" class="newsletterField label" for="zip">Zip:<span class="required">*</span></label>
    	<input id="zip" class="newsletterField fieldInput" alt="Zip" name="zip" type="text" data-parsley-length="[5, 10]" data-parsley-type="digits" data-parsley-required-message="Zip code is required." data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
     <div id="signupInputWrapper" class="row">
     	<input id="newsletterCheck" class="newsletterField fieldInput exclude" alt="Check if you would like to receive the {{brand_name}} newsletter." type="checkbox" data-parsley-required-message="Checkbox is required." data-parsley-required="true" />
     	<label id="newsletterCheckLabel" class="newsletterField label" for="newsletterCheck"><span class="required">*</span> Yes, I'd like to receive the {{brand_name}} newsletter. <a class="sdk-privacy-link" href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">Privacy Policy</a></label>
     </div>

	<div id="submitBtnWrapper"><input id="submit" class="newsletterField fieldInput" alt="Submit button" type="submit" value="Submit"/></div>

	<div id="formRequirementsWrapper">
		<p><span class="required">*</span> Required Fields &nbsp;</p>
		<p><span class="required">**</span> Confirm that you are of legal drinking age in the country where this site is accessed.</p>
	</div>
</form>