<h1>Napisz do nas</h1>
<div id="formHeaderWrapper" class="formHeaderWrapper row group">
	<div id="formHeaderText" class="forHeaderChild">
		<p>
			Dziękujemy za zainteresowanie stroną internetową {{brand_name}}. Bardzo chcielibyśmy poznać Twoją opinię, tak więc prosimy o poświęcenie chwili na wypełnienie poniższych informacji. W przypadku konieczności uzyskania dodatkowej pomocy prosimy o kontakt telefoniczny pod numerem <a class="mobile" href="tel: +{{phone}}">+{{phone}}</a>, od poniedziałku do piątku w godzinach od 8:00 do 17:00 czasu pacyficznego oraz w soboty w godzinach od 9:00 do 15:00 czasu pacyficznego.
		</p>
	</div>
	<div id="formHeaderWinefinder" class="forHeaderChild desktop">Nie możesz znaleźć ulubionych win? Poznaj naszą wyszukiwarkę win <a href="{{winefinder}}">Wine Finder</a>.</div>
	<div id="formHeaderPrivacypolicy" class="forHeaderChild desktop"><a href="{{privacy_policy}}" target="_window">Dowiedz się więcej na temat sposobu wykorzystywania danych.</a>.</div>
</div>
<form name="contactUsIntlForm-PL" id="contactUsForm" class="form desktop">
	<input type="hidden" name="brand_code" value="{{brand_code}}" />
    <input type="hidden" name="form_lang" value="PL" />
    <input type="hidden" name="verify" value="0" />
    
    <input type="hidden" name="phoneLanguage" value="Telefon jest wymagany" />
    <input type="hidden" name="phoneTypeLanguage" value="Rodzaj telefonu jest wymagany" />
    
    <input type="hidden" name="successTxt" value="Formularz sekcji Kontakt został pomyślnie wysłany." />
    <input type="hidden" name="thankyouTxt" value="Dziękujemy!" />
    <input type="hidden" name="closeTxt" value="Kliknij w dowolnym miejscu, aby zamknąć." />

	<div class="aboutMeWrapper contactusField" style="display: none;">
		<!-- TODO: Add honey pot algorithm logic -->
		<input class="textField" id="" name="">
		<input class="textField" id="" name="">
		<input class="textField" value="good" id="" name="">
	</div>

	<div id="reasonCodeWrapper" class="row group">
		<label id="reasonCodeLabel" class="contactusField label" for="reasonCode">Czego dotyczy Twoja wiadomość?:<span class="required">*</span></label>
		<div id="reasonCodeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt reasonCodeTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="reasonCode" class="contactusField fieldInput fieldSelect" name="nature" alt="Please select an option" data-parsley-required="true" data-parsley-required-message="Czego dotyczy Twoja wiadomość wymagane" data-parsley-trigger="change">
				<option value="">Wybierz jedną opcję</option>
				<option value="Praise-Comment-Inquiry">Cena produktu, opinia lub zapytanie</option>
				<option value="Complaint">Reklamacja produktu</option>
				<option value="Case Follow Up">Kontynuacja bieżącej sprawy</option>
			</select>
		</div>
	</div>
	<div id="followUpCaseWrapper" class="reasconCodeCheck row casefollowup group">
		<p>Jesli jest to kontynuacja biezacej sprawy w toku, prosimy o podanie numeru sprawy podanego przez zespól ds. obslugi klienta.</p>
		<div>
			<label id="followUpCaseLabel" class="contactusField label" for="caseNumber">Nr identyfikacyjny sprawy:<span class="required">*</span></label>
			<input id="followUpCase" class="contactusField fieldInput" type="text" name="case_id" value="" data-parsley-required="true" data-parsley-required-message="Nr identyfikacyjny sprawy wymagane" data-parsley-required="true" data-parsley-type="alphanum" data-parsley-trigger="keyup">
		</div>
	</div>

	<div id="contactInfoText" class="contactusField reasconCodeCheck row general complaint"><strong>DANE KONTAKTOWE</strong></div>

	<div id="firstNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="firstNameLabel" class="contactusField label" for="first_name">Imię:<span class="required">*</span></label>
    	<input id="firstName" class="contactusField fieldInput" name="first_name" type="text" data-parsley-maxlength="25" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-required-message="Imię wymagane" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
    <div id="lastNameWrapper" class="reasconCodeCheck row group general complaint casefollowup">
    	<label id="lastNameLabel" class="contactusField label" for="last_name">Nazwisko:<span class="required">*</span></label>
    	<input id="lastName" class="contactusField fieldInput" name="last_name" type="text" data-parsley-trigger="keyup" data-parsley-pattern="^[A-Za-z ]+$" data-parsley-maxlength="25" data-parsley-required-message="Nazwisko wymagane" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="genderWrapper" class="reasconCodeCheck row group general complaint">
		<label id="genderLabel" class="contactusField label" for="gender">Płeć:<span class="required">*</span></label>
		<div id="genderDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt genderTxt group"><span class="selectedTxt">Płeć</span><span class="arrowDown"></span></div>
			<select id="gender" class="contactusField fieldInput fieldSelect" name="gender" data-parsley-required="true" data-parsley-required-message="Płeć wymagane" data-parsley-trigger="change">
				<option value="">Płeć</option>
				<option value="M">Mężczyzna</option>
				<option value="F">Kobieta</option>
				<option value="UNK">Odmowa podania</option>
			</select>
		</div>
	</div>
	<div id="dobWrapper" class="reasconCodeCheck row group general complaint">
        <input type="hidden" name="dob" value="" />
		<label id="dobLabel" class="contactusField label" for="dobMonth">Wpisz datę urodzenia:</label>
        <div id="dobDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
            <div class="dropdownTxt dobTxt group"><span class="selectedTxt">Miesiąc</span><span class="arrowDown"></span></div>
            <select id="dobMonth" class="contactusField fieldInput fieldSelect" alt="Please select an option">
                <option value="" selected>Miesiąc</option>
                <option value="01">Styczeń</option>
                <option value="02">Luty</option>
                <option value="03">Marzec</option>
                <option value="04">Kwiecień</option>
                <option value="05">Maj</option>
                <option value="06">Czerwiec</option>
                <option value="07">Lipiec</option>
                <option value="08">Sierpień</option>
                <option value="09">Wrzesień</option>
                <option value="10">Październik</option>
                <option value="11">Listopad</option>
                <option value="12">Grudzień</option>
            </select>
        </div>
        <input id="dobDay" class="contactusField fieldInput" type="text" data-parsley-length="[1, 2]" placeholder="DD" data-parsley-pattern="/^(?:([1-9]|[12][0-9]|3[01]))$/" data-parsley-trigger="keyup" />
        <input id="dobYear" class="contactusField fieldInput" type="text" placeholder="RRRR" data-parsley-pattern="/^(?:(19|20)[0-9]{2})$/" data-parsley-trigger="keyup" />
	</div>
	<div id="emailWrapper" class="reasconCodeCheck row group general complaint casefollowup">
		<label id="emailLabel" class="contactusField label" for="email">E-mail:<span class="required">*</span></label>
    	<input id="email" class="contactusField fieldInput" name="email" type="email" data-parsley-trigger="change" data-parsley-type="email" data-parsley-required-message="E-mail wymagane" data-parsley-trigger="keyup" data-parsley-required="true" />
    </div>
	<div id="countryWrapper" class="reasconCodeCheck row group general complaint">
		<label id="countryLabel" class="contactusField label" for="country">Kraj:<span class="required">*</span></label>
		<div id="countryDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt countryTxt group"><span class="selectedTxt">United States of America</span><span class="arrowDown"></span></div>
			<select id="country" class="contactusField fieldInput fieldSelect" name="country" data-parsley-required="true" data-parsley-required-message="Kraj wymagane" data-parsley-trigger="change">
				<option value="USA" selected="selected">United States of America</option>
				<option value="CAN">Canada</option>
				<option value="AFG">Afghanistan</option>
				<option value="ALB">Albania</option>
				<option value="DZA">Algeria</option>
				<option value="AND">Andorra</option>
				<option value="AGO">Angola</option>
				<option value="AIA">Anguilla</option>
				<option value="ATA">Antarctica</option>
				<option value="ATG">Antigua And Barbuda</option>
				<option value="ARG">Argentina</option>
				<option value="ARM">Armenia</option>
				<option value="ABW">Aruba</option>
				<option value="AUS">Australia</option>
				<option value="AUT">Austria</option>
				<option value="AZE">Azerbaijan</option>
				<option value="BHS">Bahamas</option>
				<option value="BHR">Bahrain</option>
				<option value="BGD">Bangladesh</option>
				<option value="BRB">Barbados</option>
				<option value="BLR">Belarus</option>
				<option value="BEL">Belgium</option>
				<option value="BLZ">Belize</option>
				<option value="BEN">Benin</option>
				<option value="BMU">Bermuda</option>
				<option value="BTN">Bhutan</option>
				<option value="BOL">Bolivia</option>
				<option value="BIH">Bosnia And Herzegowina</option>
				<option value="BWA">Botswana</option>
				<option value="BVT">Bouvet Island</option>
				<option value="BRA">Brazil</option>
				<option value="IOT">British Indian Ocean Territory</option>
				<option value="BRN">Brunei Darussalam</option>
				<option value="BGR">Bulgaria</option>
				<option value="BFA">Burkina Faso</option>
				<option value="BDI">Burundi</option>
				<option value="KHM">Cambodia</option>
				<option value="CMR">Cameroon</option>
				<option value="CPV">Cape Verde</option>
				<option value="CYM">Cayman Islands</option>
				<option value="CAF">Central African Republic</option>
				<option value="TCD">Chad</option>
				<option value="CHL">Chile</option>
				<option value="CHN">China</option>
				<option value="CXR">Christmas Island</option>
				<option value="CCK">Cocos (Keeling) Islands</option>
				<option value="COL">Colombia</option>
				<option value="COM">Comoros</option>
				<option value="COG">Congo</option>
				<option value="COK">Cook Islands</option>
				<option value="CRI">Costa Rica</option>
				<option value="CIV">Cote D"Ivoire</option>
				<option value="HRV">Croatia</option>
				<option value="CUB">Cuba</option>
				<option value="CYP">Cyprus</option>
				<option value="CZE">Czech Republic</option>
				<option value="DNK">Denmark</option>
				<option value="DJI">Djibouti</option>
				<option value="DMA">Dominica</option>
				<option value="DOM">Dominican Republic</option>
				<option value="TMP">East Timor</option>
				<option value="ECU">Ecuador</option>
				<option value="EGY">Egypt</option>
				<option value="SLV">El Salvador</option>
				<option value="GNQ">Equatorial Guinea</option>
				<option value="ERI">Eritrea</option>
				<option value="EST">Estonia</option>
				<option value="ETH">Ethiopia</option>
				<option value="FLK">Falkland Islands (Malvinas)</option>
				<option value="FRO">Faroe Islands</option>
				<option value="FJI">Fiji</option>
				<option value="FIN">Finland</option>
				<option value="FRA">France</option>
				<option value="FXX">France</option>
				<option value="GUF">French Guiana</option>
				<option value="PYF">French Polynesia</option>
				<option value="ATF">French Southern Territories</option>
				<option value="GAB">Gabon</option>
				<option value="GMB">Gambia</option>
				<option value="GEO">Georgia</option>
				<option value="DEU">Germany</option>
				<option value="GHA">Ghana</option>
				<option value="GIB">Gibraltar</option>
				<option value="GRC">Greece</option>
				<option value="GRL">Greenland</option>
				<option value="GRD">Grenada</option>
				<option value="GLP">Guadeloupe</option>
				<option value="GUM">Guam</option>
				<option value="GTM">Guatemala</option>
				<option value="GIN">Guinea</option>
				<option value="GNB">Guinea-Bissau</option>
				<option value="GUY">Guyana</option>
				<option value="HTI">Haiti</option>
				<option value="HOL">Holland</option>
				<option value="HMD">Heard And Mc Donald Islands</option>
				<option value="HND">Honduras</option>
				<option value="HKG">Hong Kong</option>
				<option value="HUN">Hungary</option>
				<option value="ISL">Iceland</option>
				<option value="IND">India</option>
				<option value="IDN">Indonesia</option>
				<option value="IRN">Iran (Islamic Republic Of)</option>
				<option value="IRQ">Iraq</option>
				<option value="IRL">Ireland</option>
				<option value="ISR">Israel</option>
				<option value="ITA">Italy</option>
				<option value="JAM">Jamaica</option>
				<option value="JPN">Japan</option>
				<option value="JOR">Jordan</option>
				<option value="KAZ">Kazakhstan</option>
				<option value="KEN">Kenya</option>
				<option value="KIR">Kiribati</option>
				<option value="PRK">Korea</option>
				<option value="KOR">Korea</option>
				<option value="KWT">Kuwait</option>
				<option value="KGZ">Kyrgyzstan</option>
				<option value="LAO">Lao People's Democratic Republic</option>
				<option value="LVA">Latvia</option>
				<option value="LBN">Lebanon</option>
				<option value="LSO">Lesotho</option>
				<option value="LBR">Liberia</option>
				<option value="LBY">Libyan Arab Jamahiriya</option>
				<option value="LIE">Liechtenstein</option>
				<option value="LTU">Lithuania</option>
				<option value="LUX">Luxembourg</option>
				<option value="MAC">Macau</option>
				<option value="MKD">Macedonia</option>
				<option value="MDG">Madagascar</option>
				<option value="MWI">Malawi</option>
				<option value="MYS">Malaysia</option>
				<option value="MDV">Maldives</option>
				<option value="MLI">Mali</option>
				<option value="MLT">Malta</option>
				<option value="MHL">Marshall Islands</option>
				<option value="MTQ">Martinique</option>
				<option value="MRT">Mauritania</option>
				<option value="MUS">Mauritius</option>
				<option value="MYT">Mayotte</option>
				<option value="MEX">Mexico</option>
				<option value="FSM">Micronesia</option>
				<option value="MDA">Moldova</option>
				<option value="MCO">Monaco</option>
				<option value="MNG">Mongolia</option>
				<option value="MSR">Montserrat</option>
				<option value="MAR">Morocco</option>
				<option value="MOZ">Mozambique</option>
				<option value="MMR">Myanmar</option>
				<option value="NAM">Namibia</option>
				<option value="NRU">Nauru</option>
				<option value="NPL">Nepal</option>
				<option value="NLD">Netherlands</option>
				<option value="ANT">Netherlands Antilles</option>
				<option value="NCL">New Caledonia</option>
				<option value="NZL">New Zealand</option>
				<option value="NIC">Nicaragua</option>
				<option value="NER">Niger</option>
				<option value="NGA">Nigeria</option>
				<option value="NIU">Niue</option>
				<option value="NFK">Norfolk Island</option>
				<option value="MNP">Northern Mariana Islands</option>
				<option value="NOR">Norway</option>
				<option value="OMN">Oman</option>
				<option value="PAK">Pakistan</option>
				<option value="PLW">Palau</option>
				<option value="PAN">Panama</option>
				<option value="PNG">Papua New Guinea</option>
				<option value="PRY">Paraguay</option>
				<option value="PER">Peru</option>
				<option value="PHL">Philippines</option>
				<option value="PCN">Pitcairn</option>
				<option value="POL">Poland</option>
				<option value="PRT">Portugal</option>
				<option value="PRI">Puerto Rico</option>
				<option value="QAT">Qatar</option>
				<option value="REU">Reunion</option>
				<option value="ROM">Romania</option>
				<option value="RUS">Russian Federation</option>
				<option value="RWA">Rwanda</option>
				<option value="KNA">Saint Kitts And Nevis</option>
				<option value="LCA">Saint Lucia</option>
				<option value="VCT">Saint Vincent And The Grenadines</option>
				<option value="WSM">Samoa</option>
				<option value="SMR">San Marino</option>
				<option value="STP">Sao Tome And Principe</option>
				<option value="SAU">Saudi Arabia</option>
				<option value="SEN">Senegal</option>
				<option value="SYC">Seychelles</option>
				<option value="SLE">Sierra Leonev</option>
				<option value="SGP">Singapore</option>
				<option value="SVK">Slovakia (Slovak Republic)</option>
				<option value="SVN">Slovenia</option>
				<option value="SLB">Solomon Islands</option>
				<option value="SOM">Somalia</option>
				<option value="ZAF">South Africa</option>
				<option value="SGS">South Georgia And The S. Sandwich Is.</option>
				<option value="ESP">Spain</option>
				<option value="LKA">Sri Lanka</option>
				<option value="SHN">St. Helena</option>
				<option value="SPM">St. Pierre And Miquelon</option>
				<option value="SDN">Sudan</option>
				<option value="SUR">Suriname</option>
				<option value="SJM">Svalbard And Jan Mayen Islands</option>
				<option value="SWZ">Swaziland</option>
				<option value="SWE">Sweden</option>
				<option value="CHE">Switzerland</option>
				<option value="SYR">Syrian Arab Republic</option>
				<option value="TWN">Taiwan</option>
				<option value="TJK">Tajikistan</option>
				<option value="TZA">Tanzania</option>
				<option value="THA">Thailand</option>
				<option value="TGO">Togo</option>
				<option value="TKL">Tokelau</option>
				<option value="TON">Tonga</option>
				<option value="TOR">Tortola</option>
				<option value="TTO">Trinidad And Tobago</option>
				<option value="TUN">Tunisia</option>
				<option value="TUR">Turkey</option>
				<option value="TKM">Turkmenistan</option>
				<option value="TCA">Turks And Caicos Islands</option>
				<option value="TUV">Tuvalu</option>
				<option value="UGA">Uganda</option>
				<option value="UKR">Ukraine</option>
				<option value="ARE">United Arab Emirates</option>
				<option value="GBR">United Kingdom</option>
				<option value="UMI">United States Minor Outlying Islands</option>
				<option value="URY">Uruguay</option>
				<option value="UZB">Uzbekistan</option>
				<option value="VUT">Vanuatu</option>
				<option value="VAT">Vatican City State (Holy See)</option>
				<option value="VEN">Venezuela</option>
				<option value="VNM">Viet Nam</option>
				<option value="VGB">Virgin Islands (British)</option>
				<option value="VIR">Virgin Islands (U.S.)</option>
				<option value="WLF">Wallis And Futuna Islands</option>
				<option value="ESH">Western Sahara</option>
				<option value="WIN">West Indies</option>
				<option value="YEM">Yemen</option>
				<option value="YUG">Yugoslavia</option>
				<option value="ZAR">Zaire</option>
				<option value="ZMB">Zambia</option>
				<option value="ZWE">Zimbabwe</option>
			</select>
		</div>
	</div>
	<div id="addressWrapper" class="reasconCodeCheck row group general complaint">
		<label id="addressLabel" class="contactusField label" for="address">Adres:</label>
		<input id="address" type="text" class="contactusField fieldInput" name="address" />
	</div>
	<div id="cityWrapper" class="reasconCodeCheck row group general complaint">
		<label id="cityLabel" class="contactusField label" for="city">Miejscowość:</label>
		<input id="city" type="text" class="contactusField fieldInput" name="city" />
	</div>
	<div id="stateWrapper" class="reasconCodeCheck row group checkCountry USA general complaint">
		<label id="stateLabel" class="contactusField label" for="state">Stan:</label>
		<div id="stateDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt stateTxt group"><span class="selectedTxt">Wybierz stan</span><span class="arrowDown"></span></div>
			<select id="state" class="contactusField fieldInput fieldSelect" name="state">
				<option value="">Wybierz stan</option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DC">D.C.</option>
				<option value="DE">Delaware</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="kS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="Ri">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
		</div>
	</div>
	<div id="provinceWrapper" class="row group checkCountry CAN">
		<label id="provinceLabel" class="contactusField label" for="state">Region:</label>
		<div id="provinceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt provinceTxt group"><span class="selectedTxt">Wybierz region</span><span class="arrowDown"></span></div>
			<select id="province" class="contactusField fieldInput fieldSelect" name="state" >
				<option value="">Wybierz region</option>
				<option value="AB">Alberta</option>
				<option value="BC">British Columbia</option>
				<option value="MB">Manitoba</option>
				<option value="NB">New Brunswick</option>
				<option value="NL">NewFoundland and Labrador</option>
				<option value="NT">Northwest Territories</option>
				<option value="NS">Nova Scotia</option>
				<option value="NU">Nunavut</option>
				<option value="OT">Ontario</option>
				<option value="PE">Prince Edward Island</option>
				<option value="QC">Quebec</option>
				<option value="SK">Saskatchewan</option>
				<option value="YT">Yukon</option>
			</select>
		</div>
	</div>
	<div id="zipWrapper" class="reasconCodeCheck row group general complaint">
		<label id="zipLabel" class="contactusField label" for="zip">Kod pocztowy:</label>
    	<input id="zip" class="contactusField fieldInput" name="zip" type="text" />
    </div>
    <div id="phoneWrapper" class="reasconCodeCheck row group general complaint casefollowup" >
		<label id="phoneLabel" class="contactusField label" for="phone">Nr telefonu:<span class="required reasconCodeCheck casefollowup complaint">*</span></label>
    	<input id="phone" class="contactusField fieldInput" name="phone" type="text" />
    	<div id="phoneTypeDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt phoneTypeTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="phoneType" name="phone_type" class="fieldInput fieldSelect" >
				<option value="">Wybierz jedną opcję</option>
				<option value="Cell">Tel. komórkowy</option>
				<option value="Home">Tel. domowy</option>
				<option value="Work">Tel. służbowy</option>
			</select>
		</div>
    </div>
    <div id="prefContactMethod" class="reasconCodeCheck row group general complaint casefollowup">
    	<div id="prefContactMethodLabelWrapper"><label id="contactMethodLabel" class="contactusField label" for="phone_method">Preferowana metoda kontaktu:</label></div>
		<div id="prefContactMethodWrapper">
			<input id="prefContactEmail" class="contactusField radioField" type="radio" name="phone_method" value="Email" /><label class="radioInlineLabel contactusField label" for="prefContactEmail">E-mail</label>
			<input id="prefContactPhone" class="contactusField radioField" type="radio" name="phone_method" value="Phone Number" /><label class="radioInlineLabel contactusField label" for="prefContactPhone">Telefon</label>
			<input id="prefContactMail" class="contactusField radioField" type="radio" name="phone_method" value="Mail" /><label class="radioInlineLabel contactusField label" for="prefContactMail">Poczta</label>
		</div>
    </div>
	<div id="productHeaderWrapper" class="reasconCodeCheck row group general complaint">
		<strong>PYTANIA DOTYCZĄCE PRODUKTU</strong>
		<p>Udziel odpowiedzi na poniższe pytania w celu umożliwienia nam zagwarantowania wyższej jakości obsługi:</p>
	</div>
	<div id="upcWrapper" class="row group reasconCodeCheck general complaint">
		<label id="upcLabel" class="contactusField label" for="upc">Wpisz 10-cyfrowy uniwersalny numer produktu:</label>
		<input id="upc"  class="contactusField fieldInput" type="text" name="upc" maxlength="10" value="">
		<a href="#" id="showUPCExample">Patrz szczegóły</a>
		<div id="upcDetailWrapper">
			<img src="/BrandSDK-v1.1/images/contactus/barcode.gif" align="Sku #" id="sku" width="168">
		</div>
	</div>
	<div id="bottleProductCodeWrapper" class="row group reasconCodeCheck complaint">
		<label id="bottleProductCodeLabel" class="contactusField label" for="bottleProductCode">Wpisz kod daty butelkowania:</label>
		<input  id="bottleProductCode" class="contactusField fieldInput" type="text" name="product_code" value="">
		<div><a href="/BrandSDK-v1.1/images/contactus/bottleProductCodeExample.png" id="bottleProductCodeExample" target="_blank">Patrz szczegóły</a></div>
	</div>
	<div id="purchaseDateWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseDateLabel" class="contactusField label" for="purchaseDate">Czy przypominasz sobie, kiedy dokonałeś/-aś zakupu?</label>
		<input id="purchaseDate" class="contactusField fieldInput" name="purchase_date" type="text" placeholder="MM-DD-RRRR" data-parsley-pattern="/^(?:(0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])[-](19|20)[0-9]{2})$/" data-parsley-trigger="keyup" />
	</div>
	<div id="purchasePlace" class="reasconCodeCheck row group general complaint">
		<label id="purchasePlaceLabel" class="contactusField label" for="purchasePlace">Gdzie dokonałeś/-aś zakupu?:</label>
		<div id="purchasePlaceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchasePlaceTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="purchasePlace" class="contactusField fieldInput fieldSelect" name="where_buy" alt="Please select an option">
				<option value="">Wybierz jedną opcję</option>
				<option value="CONVENIENCE">Sklep ogólnospożywczy</option>
				<option value="DRUG">Apteka lub punkt apteczny</option>
				<option value="GROCERY">Sklep spożywczy</option>
				<option value="LIQUOR">Sklep z winami/likierami</option>
				<option value="CLUB">Duży sklep spożywczy</option>
				<option value="Bx">Sklep w bazach wojskowych typu Military BX lub On base Store </option>
				<option value="ONLINE">Sklep internetowy</option>
				<option value="RTHF">Restauracja lub poczekalnia</option>
				<option value="TASTINGRM">Degustacja, festiwal lub impreza</option>
				<option value="DISCOUNTERS">Sklep specjalistyczny</option>
				<option value="Other">Sklep wolnocłowy</option>
				<option value="UNKNOWN">Jeszcze nie kupiłem/-am tego produkt</option>
			</select>
		</div>
	</div>
	<div id="purchaseReasonWrapper" class="reasconCodeCheck row group general complaint">
		<label id="purchaseReasonLabel" class="contactusField label" for="purchaseReason">Dlaczego dokonałeś/-aś zakupu tego produktu?</label>
		<div id="purchaseReasonDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt purchaseReasonTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="purchaseReason" class="contactusField fieldInput fieldSelect" name="why_buy" alt="Please select an option">
				<option value="">Wybierz jedną opcję</option>
				<option value="Appealing">Atrakcyjna etykieta i opakowanie</option>
				<option value="BuyList">Produkt polecany przez magazyn lub umieszczony na liście polecanych zakupów</option>
				<option value="CAUSE">Znajomość marki</option>
				<option value="EVENT-TR">Degustacja na imprezie</option>
				<option value="RECOFrFam">Produkt polecony przez znajomych lub rodzinę</option>
				<option value="Goodvalue">Dobry stosunek ceny do jakości</option>
				<option value="LabelDes">Atrakcyjny opis i informacje dotyczące smaku</option>
				<option value="AdvMag">Produkt widziany w magazynie / na billboardzie lub reklamie w prasie</option>
				<option value="MIR-CPN">Kupon, rabat lub oferta promocyjna</option>
				<option value="On Display">Produkt pochodzi z ekspozycji sklepowej</option>
				<option value="ONSALE">Wyprzedaż</option>
				<option value="RECORest">Produkt polecony przez restauratora</option>
				<option value="Storedemo">Produkt prezentowany w sklepie</option>
				<option value="RECOStore">Produkt polecony przez sprzedawcę</option>
				<option value="Tried Socially">Post w mediach społecznościowych (Facebook, Twitter, Pinterest, Instagram)</option>
				<option value="AdvWeb">Produkt widziany w reklamie internetowej</option>
			</select>
		</div>
	</div>
	<div id="occasionWrapper" class="reasconCodeCheck row group general complaint">
		<label id="occasionLabel" class="contactusField label" for="occasion">Z jakiej okazji skosztowano produktu?</label>
		<div id="occasionDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt occasionTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="occasion" class="contactusField fieldInput fieldSelect" name="occasion" alt="Please select an option">
				<option value="">Wybierz jedną opcję</option>
				<option value="ETM-HA">Po obiedzie podczas spędzania wolnego czasu ze znajomymi</option>
				<option value="DFT-HD">W domu do posiłku z bliskimi osobami</option>
                <option value="MWF">Lunch lub brunch</option>
                <option value="MP">Do przygotowania potrawy</option>
				<option value="GRT-HSO">Wydarzenie specjalne</option>
				<option value="ETM-HS">Obiad w domu ze znajomymi/rodziną</option>
				<option value="WT">Podczas degustacji wina</option>
				<option value="GRT-RD">Posiłek w restauracji z bliskimi osobami</option>
				<option value="NIY-HH">Wydarzenie Happy Hour lub wczesne popołudnie spędzone ze znajomymi</option>
				<option value="NIY-BA">W barze hotelowym lub klubie podczas popołudniowego spotkania ze znajomymi</option>
				<option value="UNW-HA">W czasie spędzanym samotnie – relaksując się, przy komputerze lub podczas czytania itp.</option>
				<option value="GTGV-OSO">Impreza na wolnym powietrzu – piknik, plaża, impreza w ogrodzie</option>
				<option value="NC">Inne</option>
			</select>
		</div>
	</div>
	<div id="servingMethodWrapper" class="reasconCodeCheck row group general complaint">
		<label id="servingMethodLabel" class="contactusField label" for="servingMethod">W jaki sposób serwowano produkt?</label>
		<div id="servingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt servingMethodTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="servingMethod" class="contactusField fieldInput fieldSelect" name="how_served" alt="Please select an option">
				<option value="">Wybierz jedną opcję</option>
				<option value="JUICE">Zmieszane z ponczem</option>
				<option value="ICE B">Z wiaderka do lodu</option>
				<option value="COOK">Użyte podczas przyrządzania potraw</option>
				<option value="SODA TONIC">Zmieszane z napojem gazowanym</option>
				<option value="DIDNOTSRV">Produkt nie był jeszcze serwowany</option>
				<option value="ROOM">W temperaturze pokojowej</option>
				<option value="OVERICE">Na lodzie</option>
				<option value="REFER">Schłodzone w lodówce lub chłodziarce do wina</option>
			</select>
		</div>
	</div>
	<div id="futurePurchaseWrapper" class="reasconCodeCheck row group general complaint">
		<label id="futurePurchaseLabel" class="contactusField label" for="futurePurchase">Czy planujesz zakupić ten produkt ponownie?</label>
		<div id="futurePurchaseDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt futurePurchaseTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="futurePurchase" class="contactusField fieldInput fieldSelect" name="buy_again" alt="Please select an option">
				<option value="">Wybierz jedną opcję</option>
				<option value="Y">Tak, z pewnością kupię ten produkt ponownie</option>
				<option value="W">Prawdopodobnie zakupię ten produkt w przyszłości</option>
				<option value="U">Nie mam zdania</option>
				<option value="P">Prawdopodobnie nie kupię tego produktu w przyszłości</option>
				<option value="N">Nie, z pewnością nie kupię tego produktu ponownie</option>
			</select>
		</div>
	</div>
	<div id="issueOccurrenceWrapper" class="reasconCodeCheck row group complaint">
		<label id="issueOccurrenceLabel" class="contactusField label" for="issueOccurrence">Kiedy doszedłeś/doszłaś do takiego wniosku?</label>
		<div id="issueOccurrenceDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt issueOccurrenceTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="issueOccurrence" class="contactusField fieldInput fieldSelect"  name="when_notice" alt="Please select an option">
				<option value="">Wybierz jedną opcję</option>
				<option value="Tapopen">Podczas usuwania folii lub kapturka</option>
				<option value="Screwcapopen">Podczas odkręcania nakrętki</option>
				<option value="Corkopen">Podczas wyjmowania korka lub otwierania wina</option>
				<option value="First">Przy pierwszym kieliszku</option>
				<option value="Second">Przy drugim kieliszku</option>
				<option value="Last">Przy ostatnim kieliszku</option>
				<option value="Empty">Gdy butelka była pusta</option>
				<option value="Sniu">Przed otwarciem butelki</option>
			</select>
		</div>
	</div>
	<div id="storageLocationWrapper" class="reasconCodeCheck row group complaint">
		<label id="storageLocationLabel" class="contactusField label" for="storageLocation">W jakim miejscu był przechowywany produkt przed podaniem?</label>
		<div id="storageLocationDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt storageLocationTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="storageLocation" class="contactusField fieldInput fieldSelect" name="where_stored"  alt="Please select an option">
				<option value="">Wybierz jedną opcję</option>
				<option value="Countertop">Blat kuchenny lub półka</option>
				<option value="Cupboard">Kredens lub spiżarnia w temperaturze pokojowej</option>
				<option value="Garage">Przechowywanie poza domem – garaż, wiata, pomieszczenie gospodarcze</option>
				<option value="Refrigerator">Lodówka</option>
				<option value="Cellar">Piwniczka z winem lub piwnica</option>
				<option value="Chiller">Chłodziarka do wina</option>
				<option value="Sdns">Produkt spożyty w dniu zakupu, był przechowywany krócej niż 24 godziny </option>
			</select>
		</div>
	</div>
	<div id="openingMethodWrapper" class="reasconCodeCheck row group complaint">
		<label id="openingMethodLabel" class="contactusField label" for="openingMethod">Jakiego rodzaju korek został użyty?</label>
		<div id="openingMethodDropDownWrapper" class="contactusField fieldInput dropdownWrapper">
			<div class="dropdownTxt openingMethodTxt group"><span class="selectedTxt">Wybierz jedną opcję</span><span class="arrowDown"></span></div>
			<select id="openingMethod" class="contactusField fieldInput fieldSelect" name="what_opener" alt="Please select an option">
				<option value="">Wybierz jedną opcję</option>
				<option value="T">Korkociąg z uchwytem T</option>
				<option value="Waiter">Korkociąg kelnerski</option>
				<option value="Wing">Korkociąg dźwigniowy</option>
				<option value="Boot">Otwieracz do butelek</option>
				<option value="Rabbit">Korkociąg automatyczny</option>
				<option value="Two Prong">Korkociąg z dwoma zębami</option>
				<option value="Speed">Otwieracz do butelek typu speed</option>
				<option value="Double Helix">Otwieracz typu double helix</option>
				<option value="Ncs">Kapsel lub opakowanie kartonowe z kranikiem</option>
				<option value="Other Opener">Inne</option>
			</select>
		</div>
	</div>
	<div id="commentsHeaderWrapper" class="reasconCodeCheck row group general complaint casefollowup"><strong>UWAGI</strong></div>
	<div id="userCommentWrapper" class="reasconCodeCheck row general complaint casefollowup">
		<label id="userCommentLabel" class="contactusField label" for="comments">Prosimy o zamieszczenie swoich uwag poniżej:<span class="required">*</span></label>
		<textarea id="userComment" class="contactusField fieldInput fieldTextArea" name="comments" data-parsley-required="true" data-parsley-trigger="keyup" maxlength="750" data-parsley-maxlength="750" data-parsley-maxlength-message="750 character limit" data-parsley-required-message="Uwagi wymagane"></textarea>
	</div>
	<div id="moreInfoIntlWrapper" class="row group checkCountry CAN INT yes-check">
		<input id="moreInfoIntl" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y" />
		<label id="moreInfoIntlLabel" class="contactusField label" for="moreInfoIntl">
			Tak, chcę otrzymywać wiadomości  na temat promocji, wydarzeń oraz inne informacje od {{brand_name}} w wiadomościach e-mail.<br>
			W celu uzyskania dodatkowych informacji na temat sposobu wykorzystania Państwa danych osobowych, ich przenoszenia  poza Europejski Obszar Gospodarczy oraz na temat wycofania zgody w dowolnym momencie prosimy o zapoznanie się z naszą <a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">Polityką prywatności</a>.
		</label>
	</div>
	<div id="userOpinionWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="userOpinion" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_opinion" value="Y"/>
		<label id="userOpinionLabel" class="contactusField label" for="userOpinion">Tak, chcę podzielić się swoją opinią dotyczącą produktu lub zmian opakowania, jeśli pojawią się jakiekolwiek w przyszłości.</label>
	</div>
	<div id="moreInfoWrapper" class="reasconCodeCheck row group checkCountry USA general complaint yes-check">
		<input id="moreInfo" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="yes_communication" value="Y"/>
		<label id="moreInfoLabel" class="contactusField label" for="moreInfo">Tak, chcę otrzymywać wiadomości i inne informacje od {{brand_name}}.</label>
	</div>
	<div id="userContactWrapper" class="reasconCodeCheck row group general complaint no-check">
		<input id="userContact" class="contactusField fieldInput fieldCheckBox" type="checkbox" name="no_contact" value="Y">
		<label id="userContactLabel" class="contactusField label" for="userContact">Nie. Proszę nie kontaktować się ze mną w przyszłości.</label>
	</div>
    
    <div id="bottom-text">
        <p>Podając niniejsze informacje, w pełni rozumiem i wyrażam zgodę na przesyłanie moich danych osobowych do innych krajów (włączając Stany Zjednoczone, Wielką Brytanię, Kanadę i inne kraje leżące w ramach oraz poza Europejskim Obszarem Gospodarczym) zgodnie z informacjami zawartymi w <a href="{{privacy_policy}}" rel="external" title="Find out how we use your information." target="_blank">Polityce prywatności</a>.</p>
    </div>

	<div id="submitBtnWrapper" class="reasconCodeCheck general complaint casefollowup"><input id="submit" class="fieldInput" type="submit" value="PRZEŚLIJ"/></div>

	<div id="formRequirementsWrapper" class="reasconCodeCheck general complaint casefollowup">
		<p><span class="required">*</span> Wymagane pola &nbsp;</p>
	</div>
</form>
